<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/sponsor/inspired_gifts.css">
    <title>Document</title>
</head>
<body>
    <div id ="container-wrap">
        <div class = "container">
            <section class="relief-goods">
                <header class="relief-goods-header">
                    <div class="relief-goods-title">
                        <strong class="title">지구촌 어린이들의<br> 생명을 살리는 구호물품</strong>
                    </div>
                </header>
                <main class="relief-goods-contents">

                </main>
            </section>
            <section class="gift">

            </section>
            <section class="delivery">

            </section>
        </div>
    </div>
</body>
</html>