<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragment/head :: head}"></head>
<head>
    <link rel="stylesheet" href="/static/css/mypage/mypage.css">
    <link rel="stylesheet" href="/static/css/mypage/mypage_onetoone_form.css">
</head>
<body>
    <div class="container">
        <main>
<!-- header -->
<header th:replace="~{fragment/header :: header}"></header>          
            <!-- header-bot -->
            <div class="header-bot">
                <div class="header-bot-auto">
                    <div class="header-bot-title">
                        <h1>마이페이지</h1>
                        <strong>for every child, UNICEF</strong>
                    </div>
                    <img src="/static/images/header/pattern.png" alt="title">
                </div>
            </div>
<!-- section -->
            <section class="mypage-content">
                <div class="mypage-content-top">                        
                    <ul>
                        <li><a href="/mypage/my_info">개인정보</a></li>
                        <li><a href="/mypage/support_info">후원 및 결제정보</a></li>
                        <li><a href="/mypage/my_receipt">기부금영수증</a></li>
                        <li><a href="/mypage/oneToOne" class="active">1:1문의</a></li>
                    </ul>
                </div>
                <div class="mypage-content-bot">                        
                    <ul>
                        <li class="onetoone-form">
                            <article class="contact-2">
                                <h3>문의 유형</h3>
                                <div>                                    
                                    <button class="white-button button">개인후원</button>
                                    <button class="white-button button">팔찌,반지</button>
                                    <button class="white-button button">홍보,자료문의</button>
                                    <button class="white-button button">자원봉사</button>
                                    <button class="white-button button">채용</button>

                                    <button class="white-button button">아동권리·아동친화사업</button>
                                    <button class="white-button button">학교캠페인</button>
                                </div>                                
                            </article>
                            <article class="contact-3">
                                <h3>제목</h3>
                                <input type="text" placeholder="제목을 입력해주세요. (최소 5자 이상)" maxlength="30">
                            </article>
                            <article class="contact-4">
                                <h3>문의내용</h3>
                                <textarea placeholder="문의 내용을 입력해주세요. (최소 10자 이상)"></textarea>
                            </article>
                            <article class="contact-6">
                                <button class="white-button button">취소</button>
                                <button class="sky-button button">등록</button>
                            </article>
                        </li>
                    </ul>
                </div>
            </section>
<!-- footer -->
<footer th:replace="~{fragment/footer :: footer}"></footer>
        </main>
    </div>
</body>
</html>