<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragment/head :: head}"></head>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/admin/admin.css">
    <link rel="stylesheet" href="/static/css/admin/admin_notice.css">

</head>
<body>
    <div class="container">
        <main>
<!-- header -->
<header th:replace="~{fragment/header :: header}"></header>      
            <!-- header-bot -->
            <div class="header-bot">
                <div class="header-bot-auto">
                    <div class="header-bot-title">
                        <h1>관리자페이지</h1>
                        <strong>for every child, UNICEF</strong>
                    </div>
                    <img src="/static/images/header/pattern.png" alt="title">
                </div>
            </div>
<!-- section -->
            <section class="mypage-content">
                <div class="mypage-content-top">
                    <ul>
                        <li><a href="/admin/userlist">회원관리</a></li>
                        <li><a href="/admin/donation">후원금</a></li>
                        <li><a href="/admin/faq">FAQ</a></li>
                        <li><a href="/admin/notice" class="active">공지사항</a></li>
                    </ul>     
                </div>
              
                <div class="mypage-content-bot">
                    <div class="notice-container">
                        <div class="notice">
                            <aside class="admin-menus">
                                <ul>
                                    <li><a href="/admin">공지사항 목록보기</a></li>
                                    <li><a href="">공지사항 등록하기</a></li>
                                    <li><a href="">공지사항 수정</a></li>
                                    <li><a href="/logout">로그아웃</a></li>
                                </ul>
                            </aside>
                               
    
                            <article value="Title" class="contact-1">
                                <h3>Title</h3>
                                <input type="text" class="notice-input" placeholder="제목을 입력해주세요." maxlength="50">
                            </article>
                            <article value="Content" class="contact-2">
                                <h3>Content</h3>
                                <textarea class="notice-input" placeholder="내용을 입력해주세요."></textarea>
                            </article>
                            <article class="contact-3">
                                <form enctype="multipart/form-data">
                                    <div class="notice-img-inputs">
                                        <h3>images </h3>
                                        <button type="button" class="button gray-button add-button">파일 추가</button>
                                        <input type="file" class="file-input invisible" name="file"  multiple>
                                    </div>
                                </form>
                                <div class="notice-images">
                                
                                </div>
                            </article>
                            <article class="contact-4">
                                
                                <button type="button" class="button sky-button  submit-button">등록</button>
                                <button class="button white-button reset-button ">취소</button>
                            </article>
    
    
                             
                        </div>
                   </div>      
                </div>

            </section>
<!-- footer -->
<footer th:replace="~{fragment/footer :: footer}"></footer>
        </main>
    </div>
    <script src="/static/js/mypage/mypage_my_info.js"></script>
    <script src="/static/js/community/notice_add.js"></script>
</body>
</html>