<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragment/head :: head}"></head>
<head>
    <link rel="stylesheet" href="/static/css/admin/admin.css">
    <link rel="stylesheet" href="/static/css/admin/admin_notice.css">
</head>
<body>
    <div class="container">
        <main>
<!-- header -->
<header th:replace="~{fragment/header :: header}"></header>      
            <!-- header-bot -->
            <div class="header-bot">
                <div class="header-bot-auto">
                    <div class="header-bot-title">
                        <h1>관리자페이지</h1>
                        <strong>for every child, UNICEF</strong>
                    </div>
                    <img src="/static/images/header/pattern.png" alt="title">
                </div>
            </div>
<!-- section -->
            <section class="admin-content">
                <div class="admin-content-top">                        
                    <ul>
                        <li><a href="/admin/userlist">회원관리</a></li>
                        <li><a href="/admin/donation">후원금</a></li>
                        <li><a href="/admin/faq">FAQ</a></li>
                        <li><a href="/admin/notice" class="active">공지사항</a></li>
                    </ul>
                </div>
                <div class="admin-content-bot">                        
                    <!-- NOTICE 페이지 부분 -->
            <section class="notice">

                <!-- list -->
                <div class="notice-container">
                    <div class="notice-category">
                        <!-- search -->
                        <div class="faq-search-wrap">               
                            <div>
                                <div class="notice-search">
                                    <a href="/admin/notice/add"><button type="button" class="button white-button add-button">추가</button></a>
                                    <!-- <div class="search-wrap">
                                        <input type="text" class="search-input" placeholder="검색어를 입력하세요" >
                                        <button type="button" class="button search-button"></button>
                                    </div> -->
                                    <a href="#" class="all-btn">
                                        <button type="button" class="button gray-button all-button">전체보기</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                                          
                        <!-- listPage / innerHTML 부분이 맞을까요...ㅜㅜ??-->
                        <div class="notice-list-page">
                            <ul class="notice-list-body">
                                
                                
                                
                            
                            </ul>
                        </div>
                      

                    </div>

                </div>



            </section>
                </div>
            </section>
<!-- footer -->
<footer th:replace="~{fragment/footer :: footer}"></footer>
        </main>
    </div>
    <script src="/static/js/admin/admin_notice_list.js"></script>
</body>
</html>