<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragment/head :: head}"></head>
<head>
    <link rel="stylesheet" href="/static/css/admin/admin.css">
    <link rel="stylesheet" href="/static/css/admin/admin_faq.css">
</head>
<body>
    <div class="container">
        <main>
<!-- header -->
<header th:replace="~{fragment/header :: header}"></header>      
            <!-- header-bot -->
            <div class="header-bot">
                <div class="header-bot-auto">
                    <div class="header-bot-title">
                        <h1>관리자페이지</h1>
                        <strong>for every child, UNICEF</strong>
                    </div>
                    <img src="/static/images/header/pattern.png" alt="title">
                </div>
            </div>
<!-- section -->
            <section class="mypage-content">
                <div class="mypage-content-top">                        
                    <ul>
                        <li><a href="/templates/admin/admin_userlist.html">회원관리</a></li>
                        <li><a href="/templates/admin/admin_donation.html">후원금</a></li>
                        <li><a href="/templates/admin/admin_faq.html" class="active">FAQ</a></li>
                        <li><a href="/templates/admin/admin_notice.html">공지사항</a></li>
                    </ul>
                </div>
                <div class="mypage-content-bot">                        
                    <div class="faq-container-2">
                        <div class="faq-category">
                            <!-- search -->
                            <div class="faq-search-wrap">
                                <div class="faq-search">
                                    <div class="search-wrap">
                                        <input type="text" class="search-input" placeholder="검색어를 입력하세요" >
                                        <button type="button" class="button search-button"></button>
                                    </div>
                                    <!-- <div class="all-btn">
                                        <button type="button" class="button gray-button all-button">전체보기</button>
                                    </div> -->
                                </div>
                            </div>
                            <!-- category-Tab -->
                            <div class="category-tab">
                              <ul class="category-tab-panel">
                                <li><a href="#"><button type="button" class="button white-button active" value="ALL" >전체</button></a></li>
                                <li><a href="#"><button type="button" class="button white-button" value="donate">후원</button></a></li>
                                <li><a href="#"><button type="button" class="button white-button" value="childRights">아동권리</button></a></li>
                                <li><a href="#"><button type="button" class="button white-button" value="activity">참여 활동</button></a></li>
                                <li><a href="#"><button type="button" class="button white-button" value="promotion">홍보/자료</button></a></li>
                                <li><a href="#"><button type="button" class="button white-button" value="recruitment">채용</button></a></li>
                                <li><a href="#"><button type="button" class="button white-button" value="other">기타</button></a></li>
                              </ul>
                                
                            </div>
                            
                                <!-- listPage / innerHTML 부분이 맞을까요...ㅜㅜ??-->
                                <div class="faq-list-page">
                                    <ul>
                                        <li class="faq-list-header">
                                            <dl>
                                                <!-- ${category} -->
                                                
                                                <button type="button" class="button white-button">
                                                    수정
                                                </button>
                                                <button type="button" class="button white-button">
                                                    삭제
                                                </button>
                                                <dt>후원</dt>
                                                <dd>
                                                    <!-- ${subCategory}
                                                    <span>[개인후원]</span> -->
                                                    <!-- ${question}-->
                                                    <p>유니세프는 무엇이 다른가요?</p>
                                                    <i class="fa-solid fa-circle-arrow-down"></i>
                                                </dd>
                                            </dl>
                                               
                                                <!-- ${questionDetail} -->
                                            <div class="faq-detail detail-invisible invisible">
                                                <p>
                                                    1. 유니세프는 신뢰할 수 있습니다.<br>
                                                    유엔 기관이기 때문입니다. 유엔아동권리협약에 직접 명시된 유일한 아동권리증진 기관이자 1965년에 노벨평화상도 수상했습니다.
                                                </p>
                                                &nbsp
                                                
                                                <p>
                                                    2. 유니세프는 같은 돈으로 더 많은 어린이를 구합니다.<br>
                                                    유니세프는 지난 75년간의 경험과 전문성을 가지고 있으며 구호물품 등을 대량 구매하며 각국 정부와 협력해 근본적인 문제 해결을 추구하기 때문입니다.
                                                </p>
                                                <p>&nbsp</p>
                                                
                                                <P>
                                                    3. 유니세프는 재난 발생시 가장 먼저 현장에 접근합니다.<br>
                                                    유니세프는 약 190개 나라와 영토에서 활동하며, 5개의 물류센터를 보유해 전 세계 어디서 재난이 발생해도 가장 신속하게 현장에 접근하여 어린이를 돕습니다. 긴급상황이 종료된 후에도 한결같이 어린이 곁을 지키며 지속가능한 발전을 지원합니다.
                                                </P>
                                                <p>&nbsp</p>
                                                
                                                <p>
                                                    4. 유니세프는 효율적이고 투명합니다.<br>
                                                    유니세프한국위원회는 후원금 100원 중 85원을 어린이들을 위해 유니세프 본부로 송금하여, 전 세계 33개 유니세프국가위원회 중 가장 높은 송금율을 자랑합니다. 유니세프한국위원회는 국내 평가 전문 기관으로부터 높은 효율성과 투명성도 인정받고 있습니다. 
                                                </p>
                                                <p>&nbsp</p>
                                    
                                                <p>
                                                ※ 유니세프한국위원회의 효율성과 투명성에 대한 객관적 증거<br>
                                                &nbsp ① 유니세프한국위원회는 독립적인 국내평가 기관이 실시한 공익법인 재무 종합평가에서 재무 안정성 및 효율성, 투명성 및 책무성 종합평가에서 만점인 별3개와 크라운 인증을 2019~2020년 2년 연속 획득했습니다.<br>
                                                &nbsp ② 특히 2020년에는 20개 세부항목 평가에서도 모두 만점을 받았습니다. 이 3가지 사항을 모두 충족한 법인은 평가 대상 9,648곳 중 유니세프한국위원회를 포함해 4곳(0.04%)에 불과합니다.
                                                </p>
                                                <p>&nbsp</p>
                                                
                                                </p>
                                                    5. 우리가 도움을 줄 차례입니다.<br>
                                                    유니세프는 1950년부터 1993년까지 43년간 수많은 한국 어린이의 소중한 생명을 지켰습니다. 이제는 우리가 개발도상국 어린이들에게도 꿈꿀 기회를 주어야 합니다.
                                                </p>
                                                <p>&nbsp</p>
                                                
                                                ※ 지난 75년 간 한국이 유니세프에서 세운 세 가지 기록<br>
                                                &nbsp   ① 첫째, 유니세프 역사상 한국은 도움을 받다가 도움을 주는 나라로 전환한 유일한 국가입니다.<br>
                                                &nbsp    ② 둘째, 한국은 1994년 유니세프한국위원회 설립 이후 2020년에는 미국, 일본, 독일, 영국과 함께 5대 모금대국으로 성장했습니다.<br>
                                                &nbsp    ③ 셋째, 유니세프한국위원회는 전 세계 33개 국가위원회 중 가장 높은 효율성을 보이고 있습니다.<br>
                                                &nbsp    ④ 한 마디로, 한국은 왜 유니세프가 존재하는지 입증해 줍니다.<br>
                                            </div>
                                        </li>
                                        <li class="faq-list-header">
                                            <dl>
                                                <!-- ${category} -->
                                                
                                                <button type="button" class="button white-button">
                                                    수정
                                                </button>
                                                <button type="button" class="button white-button">
                                                    삭제
                                                </button>
                                                <dt>후원</dt>
                                                <dd>
                                                    <!-- ${subCategory}
                                                    <span>[개인후원]</span> -->
                                                    <!-- ${question}-->
                                                    <p>유니세프는 무엇이 다른가요?</p>
                                                    <i class="fa-solid fa-circle-arrow-down"></i>
                                                </dd>
                                            </dl>
                                               
                                                <!-- ${questionDetail} -->
                                            <div class="faq-detail detail-invisible">
                                                <p>
                                                    1. 유니세프는 신뢰할 수 있습니다.<br>
                                                    유엔 기관이기 때문입니다. 유엔아동권리협약에 직접 명시된 유일한 아동권리증진 기관이자 1965년에 노벨평화상도 수상했습니다.
                                                </p>
                                                &nbsp
                                                
                                                <p>
                                                    2. 유니세프는 같은 돈으로 더 많은 어린이를 구합니다.<br>
                                                    유니세프는 지난 75년간의 경험과 전문성을 가지고 있으며 구호물품 등을 대량 구매하며 각국 정부와 협력해 근본적인 문제 해결을 추구하기 때문입니다.
                                                </p>
                                                <p>&nbsp</p>
                                                
                                                <P>
                                                    3. 유니세프는 재난 발생시 가장 먼저 현장에 접근합니다.<br>
                                                    유니세프는 약 190개 나라와 영토에서 활동하며, 5개의 물류센터를 보유해 전 세계 어디서 재난이 발생해도 가장 신속하게 현장에 접근하여 어린이를 돕습니다. 긴급상황이 종료된 후에도 한결같이 어린이 곁을 지키며 지속가능한 발전을 지원합니다.
                                                </P>
                                                <p>&nbsp</p>
                                                
                                                <p>
                                                    4. 유니세프는 효율적이고 투명합니다.<br>
                                                    유니세프한국위원회는 후원금 100원 중 85원을 어린이들을 위해 유니세프 본부로 송금하여, 전 세계 33개 유니세프국가위원회 중 가장 높은 송금율을 자랑합니다. 유니세프한국위원회는 국내 평가 전문 기관으로부터 높은 효율성과 투명성도 인정받고 있습니다. 
                                                </p>
                                                <p>&nbsp</p>
                                    
                                                <p>
                                                ※ 유니세프한국위원회의 효율성과 투명성에 대한 객관적 증거<br>
                                                &nbsp ① 유니세프한국위원회는 독립적인 국내평가 기관이 실시한 공익법인 재무 종합평가에서 재무 안정성 및 효율성, 투명성 및 책무성 종합평가에서 만점인 별3개와 크라운 인증을 2019~2020년 2년 연속 획득했습니다.<br>
                                                &nbsp ② 특히 2020년에는 20개 세부항목 평가에서도 모두 만점을 받았습니다. 이 3가지 사항을 모두 충족한 법인은 평가 대상 9,648곳 중 유니세프한국위원회를 포함해 4곳(0.04%)에 불과합니다.
                                                </p>
                                                <p>&nbsp</p>
                                                
                                                </p>
                                                    5. 우리가 도움을 줄 차례입니다.<br>
                                                    유니세프는 1950년부터 1993년까지 43년간 수많은 한국 어린이의 소중한 생명을 지켰습니다. 이제는 우리가 개발도상국 어린이들에게도 꿈꿀 기회를 주어야 합니다.
                                                </p>
                                                <p>&nbsp</p>
                                                
                                                ※ 지난 75년 간 한국이 유니세프에서 세운 세 가지 기록<br>
                                                &nbsp   ① 첫째, 유니세프 역사상 한국은 도움을 받다가 도움을 주는 나라로 전환한 유일한 국가입니다.<br>
                                                &nbsp    ② 둘째, 한국은 1994년 유니세프한국위원회 설립 이후 2020년에는 미국, 일본, 독일, 영국과 함께 5대 모금대국으로 성장했습니다.<br>
                                                &nbsp    ③ 셋째, 유니세프한국위원회는 전 세계 33개 국가위원회 중 가장 높은 효율성을 보이고 있습니다.<br>
                                                &nbsp    ④ 한 마디로, 한국은 왜 유니세프가 존재하는지 입증해 줍니다.<br>
                                            </div>
                                        </li>
    
                                        <li class="faq-list-header">
                                            <dl>
                                                <!-- ${category} -->
                                                
                                                <button type="button" class="button white-button">
                                                    수정
                                                </button>
                                                <button type="button" class="button white-button">
                                                    삭제
                                                </button>
                                                <dt>후원</dt>
                                                <dd>
                                                    <!-- ${subCategory}
                                                    <span>[개인후원]</span> -->
                                                    <!-- ${question}-->
                                                    <p>유니세프는 무엇이 다른가요?</p>
                                                    <i class="fa-solid fa-circle-arrow-down"></i>
                                                </dd>
                                            </dl>
                                               
                                                <!-- ${questionDetail} -->
                                            <div class="faq-detail detail-invisible invisible">
                                                <p>
                                                    1. 유니세프는 신뢰할 수 있습니다.<br>
                                                    유엔 기관이기 때문입니다. 유엔아동권리협약에 직접 명시된 유일한 아동권리증진 기관이자 1965년에 노벨평화상도 수상했습니다.
                                                </p>
                                                &nbsp
                                                
                                                <p>
                                                    2. 유니세프는 같은 돈으로 더 많은 어린이를 구합니다.<br>
                                                    유니세프는 지난 75년간의 경험과 전문성을 가지고 있으며 구호물품 등을 대량 구매하며 각국 정부와 협력해 근본적인 문제 해결을 추구하기 때문입니다.
                                                </p>
                                                <p>&nbsp</p>
                                                
                                                <P>
                                                    3. 유니세프는 재난 발생시 가장 먼저 현장에 접근합니다.<br>
                                                    유니세프는 약 190개 나라와 영토에서 활동하며, 5개의 물류센터를 보유해 전 세계 어디서 재난이 발생해도 가장 신속하게 현장에 접근하여 어린이를 돕습니다. 긴급상황이 종료된 후에도 한결같이 어린이 곁을 지키며 지속가능한 발전을 지원합니다.
                                                </P>
                                                <p>&nbsp</p>
                                                
                                                <p>
                                                    4. 유니세프는 효율적이고 투명합니다.<br>
                                                    유니세프한국위원회는 후원금 100원 중 85원을 어린이들을 위해 유니세프 본부로 송금하여, 전 세계 33개 유니세프국가위원회 중 가장 높은 송금율을 자랑합니다. 유니세프한국위원회는 국내 평가 전문 기관으로부터 높은 효율성과 투명성도 인정받고 있습니다. 
                                                </p>
                                                <p>&nbsp</p>
                                    
                                                <p>
                                                ※ 유니세프한국위원회의 효율성과 투명성에 대한 객관적 증거<br>
                                                &nbsp ① 유니세프한국위원회는 독립적인 국내평가 기관이 실시한 공익법인 재무 종합평가에서 재무 안정성 및 효율성, 투명성 및 책무성 종합평가에서 만점인 별3개와 크라운 인증을 2019~2020년 2년 연속 획득했습니다.<br>
                                                &nbsp ② 특히 2020년에는 20개 세부항목 평가에서도 모두 만점을 받았습니다. 이 3가지 사항을 모두 충족한 법인은 평가 대상 9,648곳 중 유니세프한국위원회를 포함해 4곳(0.04%)에 불과합니다.
                                                </p>
                                                <p>&nbsp</p>
                                                
                                                </p>
                                                    5. 우리가 도움을 줄 차례입니다.<br>
                                                    유니세프는 1950년부터 1993년까지 43년간 수많은 한국 어린이의 소중한 생명을 지켰습니다. 이제는 우리가 개발도상국 어린이들에게도 꿈꿀 기회를 주어야 합니다.
                                                </p>
                                                <p>&nbsp</p>
                                                
                                                ※ 지난 75년 간 한국이 유니세프에서 세운 세 가지 기록<br>
                                                &nbsp   ① 첫째, 유니세프 역사상 한국은 도움을 받다가 도움을 주는 나라로 전환한 유일한 국가입니다.<br>
                                                &nbsp    ② 둘째, 한국은 1994년 유니세프한국위원회 설립 이후 2020년에는 미국, 일본, 독일, 영국과 함께 5대 모금대국으로 성장했습니다.<br>
                                                &nbsp    ③ 셋째, 유니세프한국위원회는 전 세계 33개 국가위원회 중 가장 높은 효율성을 보이고 있습니다.<br>
                                                &nbsp    ④ 한 마디로, 한국은 왜 유니세프가 존재하는지 입증해 줍니다.<br>
                                            </div>
                                        </li>
                                        <li class="faq-list-header">
                                            <dl>
                                                <!-- ${category} -->
                                                
                                                <button type="button" class="button white-button">
                                                    수정
                                                </button>
                                                <button type="button" class="button white-button">
                                                    삭제
                                                </button>
                                                <dt>후원</dt>
                                                <dd>
                                                    <!-- ${subCategory}
                                                    <span>[개인후원]</span> -->
                                                    <!-- ${question}-->
                                                    <p>유니세프는 무엇이 다른가요?</p>
                                                    <i class="fa-solid fa-circle-arrow-down"></i>
                                                </dd>
                                            </dl>
                                               
                                                <!-- ${questionDetail} -->
                                            <div class="faq-detail detail-invisible invisible">
                                                <p>
                                                    1. 유니세프는 신뢰할 수 있습니다.<br>
                                                    유엔 기관이기 때문입니다. 유엔아동권리협약에 직접 명시된 유일한 아동권리증진 기관이자 1965년에 노벨평화상도 수상했습니다.
                                                </p>
                                                &nbsp
                                                
                                                <p>
                                                    2. 유니세프는 같은 돈으로 더 많은 어린이를 구합니다.<br>
                                                    유니세프는 지난 75년간의 경험과 전문성을 가지고 있으며 구호물품 등을 대량 구매하며 각국 정부와 협력해 근본적인 문제 해결을 추구하기 때문입니다.
                                                </p>
                                                <p>&nbsp</p>
                                                
                                                <P>
                                                    3. 유니세프는 재난 발생시 가장 먼저 현장에 접근합니다.<br>
                                                    유니세프는 약 190개 나라와 영토에서 활동하며, 5개의 물류센터를 보유해 전 세계 어디서 재난이 발생해도 가장 신속하게 현장에 접근하여 어린이를 돕습니다. 긴급상황이 종료된 후에도 한결같이 어린이 곁을 지키며 지속가능한 발전을 지원합니다.
                                                </P>
                                                <p>&nbsp</p>
                                                
                                                <p>
                                                    4. 유니세프는 효율적이고 투명합니다.<br>
                                                    유니세프한국위원회는 후원금 100원 중 85원을 어린이들을 위해 유니세프 본부로 송금하여, 전 세계 33개 유니세프국가위원회 중 가장 높은 송금율을 자랑합니다. 유니세프한국위원회는 국내 평가 전문 기관으로부터 높은 효율성과 투명성도 인정받고 있습니다. 
                                                </p>
                                                <p>&nbsp</p>
                                    
                                                <p>
                                                ※ 유니세프한국위원회의 효율성과 투명성에 대한 객관적 증거<br>
                                                &nbsp ① 유니세프한국위원회는 독립적인 국내평가 기관이 실시한 공익법인 재무 종합평가에서 재무 안정성 및 효율성, 투명성 및 책무성 종합평가에서 만점인 별3개와 크라운 인증을 2019~2020년 2년 연속 획득했습니다.<br>
                                                &nbsp ② 특히 2020년에는 20개 세부항목 평가에서도 모두 만점을 받았습니다. 이 3가지 사항을 모두 충족한 법인은 평가 대상 9,648곳 중 유니세프한국위원회를 포함해 4곳(0.04%)에 불과합니다.
                                                </p>
                                                <p>&nbsp</p>
                                                
                                                </p>
                                                    5. 우리가 도움을 줄 차례입니다.<br>
                                                    유니세프는 1950년부터 1993년까지 43년간 수많은 한국 어린이의 소중한 생명을 지켰습니다. 이제는 우리가 개발도상국 어린이들에게도 꿈꿀 기회를 주어야 합니다.
                                                </p>
                                                <p>&nbsp</p>
                                                
                                                ※ 지난 75년 간 한국이 유니세프에서 세운 세 가지 기록<br>
                                                &nbsp   ① 첫째, 유니세프 역사상 한국은 도움을 받다가 도움을 주는 나라로 전환한 유일한 국가입니다.<br>
                                                &nbsp    ② 둘째, 한국은 1994년 유니세프한국위원회 설립 이후 2020년에는 미국, 일본, 독일, 영국과 함께 5대 모금대국으로 성장했습니다.<br>
                                                &nbsp    ③ 셋째, 유니세프한국위원회는 전 세계 33개 국가위원회 중 가장 높은 효율성을 보이고 있습니다.<br>
                                                &nbsp    ④ 한 마디로, 한국은 왜 유니세프가 존재하는지 입증해 줍니다.<br>
                                            </div>
                                        </li>
                                        <li class="faq-list-header">
                                            <dl>
                                                <!-- ${category} -->
                                                
                                                <button type="button" class="button white-button">
                                                    수정
                                                </button>
                                                <button type="button" class="button white-button">
                                                    삭제
                                                </button>
                                                <dt>후원</dt>
                                                <dd>
                                                    <!-- ${subCategory}
                                                    <span>[개인후원]</span> -->
                                                    <!-- ${question}-->
                                                    <p>유니세프는 무엇이 다른가요?</p>
                                                    <i class="fa-solid fa-circle-arrow-down"></i>
                                                </dd>
                                            </dl>
                                               
                                                <!-- ${questionDetail} -->
                                            <div class="faq-detail detail-invisible invisible">
                                                <p>
                                                    1. 유니세프는 신뢰할 수 있습니다.<br>
                                                    유엔 기관이기 때문입니다. 유엔아동권리협약에 직접 명시된 유일한 아동권리증진 기관이자 1965년에 노벨평화상도 수상했습니다.
                                                </p>
                                                &nbsp
                                                
                                                <p>
                                                    2. 유니세프는 같은 돈으로 더 많은 어린이를 구합니다.<br>
                                                    유니세프는 지난 75년간의 경험과 전문성을 가지고 있으며 구호물품 등을 대량 구매하며 각국 정부와 협력해 근본적인 문제 해결을 추구하기 때문입니다.
                                                </p>
                                                <p>&nbsp</p>
                                                
                                                <P>
                                                    3. 유니세프는 재난 발생시 가장 먼저 현장에 접근합니다.<br>
                                                    유니세프는 약 190개 나라와 영토에서 활동하며, 5개의 물류센터를 보유해 전 세계 어디서 재난이 발생해도 가장 신속하게 현장에 접근하여 어린이를 돕습니다. 긴급상황이 종료된 후에도 한결같이 어린이 곁을 지키며 지속가능한 발전을 지원합니다.
                                                </P>
                                                <p>&nbsp</p>
                                                
                                                <p>
                                                    4. 유니세프는 효율적이고 투명합니다.<br>
                                                    유니세프한국위원회는 후원금 100원 중 85원을 어린이들을 위해 유니세프 본부로 송금하여, 전 세계 33개 유니세프국가위원회 중 가장 높은 송금율을 자랑합니다. 유니세프한국위원회는 국내 평가 전문 기관으로부터 높은 효율성과 투명성도 인정받고 있습니다. 
                                                </p>
                                                <p>&nbsp</p>
                                    
                                                <p>
                                                ※ 유니세프한국위원회의 효율성과 투명성에 대한 객관적 증거<br>
                                                &nbsp ① 유니세프한국위원회는 독립적인 국내평가 기관이 실시한 공익법인 재무 종합평가에서 재무 안정성 및 효율성, 투명성 및 책무성 종합평가에서 만점인 별3개와 크라운 인증을 2019~2020년 2년 연속 획득했습니다.<br>
                                                &nbsp ② 특히 2020년에는 20개 세부항목 평가에서도 모두 만점을 받았습니다. 이 3가지 사항을 모두 충족한 법인은 평가 대상 9,648곳 중 유니세프한국위원회를 포함해 4곳(0.04%)에 불과합니다.
                                                </p>
                                                <p>&nbsp</p>
                                                
                                                </p>
                                                    5. 우리가 도움을 줄 차례입니다.<br>
                                                    유니세프는 1950년부터 1993년까지 43년간 수많은 한국 어린이의 소중한 생명을 지켰습니다. 이제는 우리가 개발도상국 어린이들에게도 꿈꿀 기회를 주어야 합니다.
                                                </p>
                                                <p>&nbsp</p>
                                                
                                                ※ 지난 75년 간 한국이 유니세프에서 세운 세 가지 기록<br>
                                                &nbsp   ① 첫째, 유니세프 역사상 한국은 도움을 받다가 도움을 주는 나라로 전환한 유일한 국가입니다.<br>
                                                &nbsp    ② 둘째, 한국은 1994년 유니세프한국위원회 설립 이후 2020년에는 미국, 일본, 독일, 영국과 함께 5대 모금대국으로 성장했습니다.<br>
                                                &nbsp    ③ 셋째, 유니세프한국위원회는 전 세계 33개 국가위원회 중 가장 높은 효율성을 보이고 있습니다.<br>
                                                &nbsp    ④ 한 마디로, 한국은 왜 유니세프가 존재하는지 입증해 줍니다.<br>
                                            </div>
                                        </li>                                
                                    </ul>
                                    
                                    <button type="button" class="button white-button add-button">추가</button>               
                                </div>
                          
    
                        </div>
    
                    </div>                    
                </div>

            </section>
<!-- footer -->
<footer th:replace="~{fragment/footer :: footer}"></footer>
        </main>
    </div>
    <script src="/static/js/mypage/mypage_my_info.js"></script>
</body>
</html>