<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragment/head :: head}"></head>
<head>
    <link rel="stylesheet" href="/static/css/admin/admin.css">
    <link rel="stylesheet" href="/static/css/admin/admin_userlist.css">
</head>
<body>
    <div class="container">
        <main>
<!-- header -->
<header th:replace="~{fragment/header :: header}"></header>      
            <!-- header-bot -->
            <div class="header-bot">
                <div class="header-bot-auto">
                    <div class="header-bot-title">
                        <h1>관리자페이지</h1>
                        <strong>for every child, UNICEF</strong>
                    </div>
                    <img src="/static/images/header/pattern.png" alt="title">
                </div>
            </div>
<!-- section -->
            <section class="admin-content">
                <div class="admin-content-top">    
                    <ul>
                        <li><a href="/admin/userlist" class="active">회원관리</a></li>
                        <li><a href="/admin/onetoone">1:1문의</a></li>
                        <li><a href="/admin/faq">FAQ</a></li>
                        <li><a href="/admin/notice">공지사항</a></li>
                    </ul>     
                </div>
                <div class="admin-content-bot">                        
                    <div class="userlist">
                    <!-- 회원검색 -->
                        <article class="search">
                            <p>회원목록</p>
                            <div class="search-wrap">
                                <input type="text" class="search-input" placeholder="검색어를 입력하세요" >
                                <button type="button" class="button search-button"></button>
                            </div>
                            <div class="all-btn">
                                <button type="button" class="button gray-button all-button">전체보기</button>
                            </div>
                        </article>
                    <!-- 회원목록 -->
                        <article class="userdata">
                            <ul>
                                <li class="userdata-total">
                                    <p>
                                        전체 후원자 <span>n</span>명
                                    </p>
                                    <article>
                                        <div><i class="fa-solid fa-angles-left"></i></div>
                                        <div><i class="fa-solid fa-angle-left"></i></div>
                                        <div id="page-active">1</div>
                                        <div>2</div>
                                        <div>3</div>
                                        <div>4</div>
                                        <div>5</div>
                                        <div><i class="fa-solid fa-angle-right"></i></div>
                                        <div><i class="fa-solid fa-angles-right"></i></div>
                                    </article>
                                </li>
                            <!-- 타이틀 -->
                                <li class="userdata-title">
                                    <ul>
                                        <li>아이디</li>
                                        <li>후원자</li>
                                        <li>휴대폰 번호</li>
                                        <li>이메일</li>
                                        <li>가입일</li>
                                        <li>문의/후원</li>
                                        <li>누적후원금</li>
                                        <li>상세</li>
                                        <li></li>
                                    </ul>
                                </li>
                            <!-- 회원정보 -->
                                <li class="userdata-list">
                                </li>
                            </ul>
                        </article>
                    </div>
                </div>
            </section>
        <!-- footer -->
            <footer th:replace="~{fragment/footer :: footer}"></footer>
        </main>
    </div>
    <script src="/static/js/admin/admin_userlist.js"></script>
</body>
</html>