<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragment/head :: head}"></head>
<head>
    <link rel="stylesheet" href="/static/css/unicef/activity.css">
</head>

<body>
    <div class="containel">
        <main>
        <!-- header -->
<header th:replace="~{fragment/header :: header}"></header>
        <!-- header-bot -->
            <div class="header-bot">
                <div class="header-bot-auto">
                    <div class="header-bot-title">
                        <h1>활동 지역</h1>
                        <strong>for every child, everywhere</strong>
                    </div>
                    <img src="/static/images/header/pattern.png" alt="title">
                </div>
            </div>
        <!-- activity- 활동 지역 -->
            <div class="activity">
                <!-- 활동 지역 main 부분 -->
                <div class="activity-wrap">
                    <section class="activity-1">
                        <header class="activity-header-1">
                            <h2 class="activity-title-1">
                                <span>
                                    모든 어린이가 행복한 나라
                                </span>
                            </h2>
                            <p class="activity-title-desciption">
                                유니세프는 
                                <span>190여 개 나라와 영토</span> 
                                에서 모든 어린이들, 특히 가장 소외된 어린이의 권리와 복지를 증진하기 위해 일합니다. 전 세계 거의 모든 나라에서 활동하기 때문에 긴급구호 상황에서<br>
                                가장 신속하게 현장에 접근합니다. 재난 전에도, 재난 중에도, 재난 후에도 한결같이 어린이 곁을 지킵니다.
                            </p>
                        </header>
                        <!-- 설명 리스트 -->
                        <div class="desciption-wrap">
                            <ol class="desciption-ol">
                                <li class="list-item">
                                    <dl class="list-item-dl">
                                        <dt>
                                            <div class="img-wrap">
                                                <div class="list-item-img">
                                                    <img src="/static/images/activity/list_item_img1.png" alt="아이콘 이미지">
                                                </div>
                                            </div>
                                        </dt>
                                        <dd>
                                            <ul class="list-item-desciption">
                                                <li>
                                                    <p>유니세프 활동 국가 및 영토</p>
                                                </li>
                                            </ul>
                                            <h3 class="list-item-titles-wrap">
                                                <span class="list-item-titles">
                                                    약 190개 나라와 영토
                                                </span>
                                            </h3>
                                        </dd>
                                    </dl>
                                </li>
                                <li class="list-item">
                                    <dl class="list-item-dl">
                                        <dt>
                                            <div class="img-wrap">
                                                <div class="list-item-img">
                                                    <img src="/static/images/activity/list_item_img2.png" alt="아이콘 이미지">
                                                </div>
                                            </div>
                                        </dt>
                                        <dd>
                                            <ul class="list-item-desciption">
                                                <li>
                                                    <p>도움을 받는 나라</p>
                                                </li>
                                            </ul>
                                            <h3 class="list-item-titles-wrap">
                                                <span class="list-item-titles">
                                                    158개국
                                                </span>
                                            </h3>
                                        </dd>
                                    </dl>
                                </li>
                                <li class="list-item">
                                    <dl class="list-item-dl">
                                        <dt>
                                            <div class="img-wrap">
                                                <div class="list-item-img">
                                                    <img src="/static/images/activity/list_item_img3.png" alt="아이콘 이미지">
                                                </div>
                                            </div>
                                        </dt>
                                        <dd>
                                            <ul class="list-item-desciption">
                                                <li>
                                                    <p>도움을 주는 나라</p>
                                                </li>
                                            </ul>
                                            <h3 class="list-item-titles-wrap">
                                                <span class="list-item-titles">
                                                    33개국
                                                </span>
                                            </h3>
                                        </dd>
                                    </dl>
                                </li>
                                <li class="list-item">
                                    <dl class="list-item-dl">
                                        <dt>
                                            <div class="img-wrap">
                                                <div class="list-item-img">
                                                    <img src="/static/images/activity/list_item_img4.png" alt="아이콘 이미지">
                                                </div>
                                            </div>
                                        </dt>
                                        <dd>
                                            <ul class="list-item-desciption">
                                                <li>
                                                    <p>구호물품 물류센터</p>
                                                </li>
                                            </ul>
                                            <h3 class="list-item-titles-wrap">
                                                <span class="list-item-titles">
                                                    6개국
                                                </span>
                                            </h3>
                                        </dd>
                                    </dl>
                                </li>
                                <li class="list-item">
                                    <dl class="list-item-dl">
                                        <dt>
                                            <div class="img-wrap">
                                                <div class="list-item-img">
                                                    <img src="/static/images/activity/list_item_img5.png" alt="아이콘 이미지">
                                                </div>
                                            </div>
                                        </dt>
                                        <dd>
                                            <ul class="list-item-desciption">
                                                <li>
                                                    <p>유니세프 직원 수</p>
                                                </li>
                                            </ul>
                                            <h3 class="list-item-titles-wrap">
                                                <span class="list-item-titles">
                                                    약 15,000명 이상
                                                </span>
                                            </h3>
                                        </dd>
                                    </dl>
                                </li>
                                <li class="list-item">
                                    <dl class="list-item-dl">
                                        <dt>
                                            <div class="img-wrap">
                                                <div class="list-item-img">
                                                    <img src="/static/images/activity/list_item_img6.png" alt="아이콘 이미지">
                                                </div>
                                            </div>
                                        </dt>
                                        <dd>
                                            <ul class="list-item-desciption">
                                                <li>
                                                    <p>개발도상국 근무 직원</p>
                                                </li>
                                            </ul>
                                            <h3 class="list-item-titles-wrap">
                                                <span class="list-item-titles">
                                                    85%
                                                </span>
                                            </h3>
                                        </dd>
                                    </dl>
                                </li>
                            </ol>
                        </div>
                    </section>
                </div>
                <!-- 활동 지역 sub-main 부분 -->
                <div class="activity-container-1">
                    <section class="activity-2">
                       <header class="activity-header-2">
                            <h3 class="activity-title-2">
                                <span>
                                    도움을 받는 나라
                                </span>
                            </h3>
                       </header>
                       <div class="activity-img-wrap">
                            <img src="/static/images/activity/activity_img1.png" alt="활동지역 관련 이미지">
                       </div>
                       <div class="activity-img-desciption">
                            <span class="img-desciption-title">
                                도움을 받는 158개 유니세프 국가사무소
                            </span>
                            <p class="img-desciption">
                                도움을 받는 158개 유니세프 국가사무소는 전 세계 어린이의 보건·영양·식수와 위생·교육·보호·긴급구호 사업을 펼칩니다.
                            </p>
                       </div>
                    </section>
                    <section class="activity-2">
                        <header class="activity-header-2">
                             <h3 class="activity-title-3">
                                 <span>
                                     유니세프 본부
                                 </span>
                             </h3>
                        </header>
                        <div class="activity-img-wrap">
                             <img src="/static/images/activity/activity_img2.png" alt="활동지역 관련 이미지">
                        </div>
                        <div class="activity-img-desciption">
                            <span class="img-desciption-title">
                                유니세프 본부
                            </span>
                            <p class="img-desciption">
                                유니세프 본부는 국가위원회와 국가사무소의 활동을 함께 기획하며, 추진 과정 및 성과를 면밀히 모니터링하고 평가합니다. 또한 7개의 지역사무소를 두어 각 국가사무소를 지원합니다.<br>
                                덴마크 코펜하겐에 위치한 유니세프 물류센터는 전 세계에 필요한 구호 물품을 신속하게 지원하며, 이탈리에 피렌체에 있는 연구 센터에서는 전 세계 어린이의 상황과 정책을 조사합니다.
                            </p>
                        </div>
                     </section>
                     <section class="activity-2">
                        <header class="activity-header-2">
                             <h3 class="activity-title-4">
                                 <span>
                                     도움을 주는 나라
                                 </span>
                             </h3>
                        </header>
                        <div class="activity-img-wrap">
                             <img src="/static/images/activity/activity_img3.png" alt="활동지역 관련 이미지">
                        </div>
                        <div class="activity-img-desciption last-text">
                            <span class="img-desciption-title">
                                도움을 주는 33개 유니세프 국가위원회
                            </span>
                            <p class="img-desciption">
                                도움을 주는 33개 유니세프 국가위원회는 그 나라에서 유니세프를 대표하여 전 세계 어린이 현황과 이를 개선하기 위한 유니세프 활동을 널리 알려 기금을 모금하고 어린이 권리를 옹호합니다. 33개 유니세프 국가위원회가 유니세프 본부에 보낸 기금은 각 나라의 경제 수준과 어린이 상황을 고려하여 158개 개발도상국 유니세프 국가사무소에 분배됩니다.<br>
                                <br>
                                <span>
                                    유니세프한국위원회
                                </span>
                                는 도움을 주는 33개 유니세프 국가위원회 중 하나로, 한국에서 유니세프를 대표해 유니세프의 이념을 실현합니다. 전 세계 어린이를 위해 기금을 모으고 어린이 권리를 옹호합니다.
                            </p>
                        </div>
                     </section>

                </div>    
            </div>
        <!-- footer -->
<footer th:replace="~{fragment/footer :: footer}"></footer>
        </main>
    </div>
</body>
</html>