<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="containel-wrap">
            <section class="unicef_introduction">
                <div class="containel">
                    <p>
                        <strong>유니세프</strong>
                        <span>
                            는 1946년 ‘차별 없는 구호’의 정신으로 전 세계 어린이를 돕기 위해 설립된 유엔기구입니다. 유니세프는 유엔아동권리협약에 직접 명시된 유일한 아동권리 증진<br>
                            기관이며 1965년에는 노벨 평화상도 수상했습니다. 75년이 넘은 현장 경험과 전문성을 바탕으로 적은 돈으로 더 많은 어린이의 생명을 살립니다. 각 나라 정부와 긴밀하게 협력해 보다<br>
                            효과적으로 폭넓게 어린이의 삶을 근본적으로 개선합니다. 약 190개 나라 및 영토 등 전 세계 거의 모든 곳에서 활동하기 때문에 재난이 발생하면 신속하게 긴급구호 사업을 펼칩니다.<br>
                            재난 전에도, 재난 중에도, 재난 후에도 한결같이 어린이 곁을 지킵니다. 단 한 명의 어린이도 빠짐없이, 모든 어린이가 행복한 어린 시절을 보낼 수 있도록, 보건·영양·식수와 위생·교육·긴급<br>
                            구호 사업을 펼칩니다. 지금 이 순간에도 유니세프는 전 세계 어린이를 지킵니다.
                        </span>
                    </p>
                    <p>
                        <strong>유니세프한국위원회</strong>
                        <span>
                            는 한국에서 유니세프를 대표해 유니세프의 이념을 실현합니다. 전 세계 어린이를 위해 기금을 모으고 어린이 권리를 옹호합니다.<br>
                            유니세프한국위원회는 후원금 100원 중 85원을 유니세프 본부로 송금하며 전 세계 33개 유니세프국가위원회 중 가장 높은 송금률을 자랑합니다. 국내 평가 전문 기관으로부터 높은 효율성과<br>
                            투명성도 인정받고 있습니다. 한국은 유니세프 역사상 도움을 받다가 도움을 주는 나라로 전환된 유일한 국가이며, 2022년 5대 모금 국가로 성장했습니다.<br>
                            유니세프한국위원회의 대표적인 어린이 권리 증진 사업은 ‘유니세프아동친화사회 만들기’ 프로젝트입니다. 어린이가 생활하는 사회(지역사회, 학교 등)와 어린이에게 영향을 미치는 사회<br>
                            (기업, 병원 등)를 어린이에게 친화적인 환경으로 만듭니다. 유니세프한국위원회는 우리 모두가 행복한 사회를 만들기 위해 어린이가 행복한 사회를 만듭니다.
                        </span>
                    </p>
                </div>
            </section>
            <section></section>
            <section></section>
            <!-- <section></section> -->
            <!-- <section></section> -->
        </div>
    </div>
</body>
</html>