<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/account/join.css">
    <link rel="stylesheet" href="/static/css/unicef/unicef_introduction.css">
    <title>어린이 정기후원 및 정기기부 단체</title>
</head>

<body>
    <div class="containel">
        <main>
        <!-- header -->
            <header class="main-header">
        <!-- header-top -->
            <div class="header-top">
                <ul class="header-top-auto">
                    <li><a href="#">로그인</a></li>
                    <li><a href="#">회원가입</a></li>
                    <li><button>기부금영수증</button></li>
                    <li><a href="#">FAQ</a></li>
                    <li><input type="text"></li>
                </ul>
            </div>
        <!-- header-mid -->
            <div class="header-mid">
                <div class="header-mid-auto">                                    
                    <a href="#" class="header-logo">
                        <img src="/static/images/header/logo.png" alt="logo">
                    </a>  
                    <ul class="main-menu">
                        <li>
                            <a href="#">하는일</a>  
                        </li>
                        <li>
                            <a href="#">후원하기</a>
                        </li>
                        <li>
                            <a href="#">참여활동</a> 
                        </li>
                        <li>
                            <a href="/templates/unicef/unicef_introduction.html">유니세프 소개</a>
                        </li>
                    </ul>
                    <input type="button" value="후원하기" class="support-button button yellow-button">
                </div>
                <div class="header-midsub invisible">
                    <div class="header-midsub-auto">                                
                        <ul>
                            <li><a href="#">활동지역</a></li>
                            <li><a href="#">스쿨스포아시아</a></li>
                            <li><a href="#">소식</a></li>
                        </ul>                  
                        <ul>
                            <li><a href="#">정기후원</a></li>
                            <li><a href="#">일시후원</a></li>
                            <li><a href="#">생명을 구하는 선물</a></li>
                        </ul>                    
                        <ul>
                            <li><a href="#">후원자이야기</a></li>
                            <li><a href="#">자원봉사</a></li>
                        </ul>                
                        <ul>
                            <li><a href="/templates/unicef/unicef_introduction.html">소개</a></li>
                            <li><a href="#">공지사항</a></li>
                            <li><a href="#">소식</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        <!-- header-bot -->
            <div class="header-bot">
                <div class="header-bot-auto">
                    <div class="header-bot-title">
                        <h1>소개</h1>
                        <strong>for every child, UMICEF</strong>
                    </div>
                </div>
            </div>
        </header>

        <!-- unicef_introduction-유니세프 소개 -->
            <section class="unicef">
                <div class="unicef-container-1">
                    <div class="unicef-introduction">
                        <!-- description-설명 글 부분 -->
                        <p class="description">
                            <span class="des-title">
                                유니세프
                            </span>
                            는 1946년 ‘차별 없는 구호’의 정신으로 전 세계 어린이를 돕기 위해 설립된 유엔기구입니다. 유니세프는 유엔아동권리협약에 직접 명시된 유일한 아동권리 증진<br>
                            기관이며 1965년에는 노벨 평화상도 수상했습니다. 75년이 넘은 현장 경험과 전문성을 바탕으로 적은 돈으로 더 많은 어린이의 생명을 살립니다. 각 나라 정부와 긴밀하게 협력해 보다<br>
                            효과적으로 폭넓게 어린이의 삶을 근본적으로 개선합니다. 약 190개 나라 및 영토 등 전 세계 거의 모든 곳에서 활동하기 때문에 재난이 발생하면 신속하게 긴급구호 사업을 펼칩니다. 재난<br> 
                            전에도, 재난 중에도, 재난 후에도 한결같이 어린이 곁을 지킵니다. 단 한 명의 어린이도 빠짐없이, 모든 어린이가 행복한 어린 시절을 보낼 수 있도록, 보건·영양·식수와 위생·교육·긴급구호<br> 
                            사업을 펼칩니다. 지금 이 순간에도 유니세프는 전 세계 어린이를 지킵니다.
                        </p>            
                        <p class="description">
                            <span class="des-title">
                                유니세프한국위원회
                            </span>
                            는 한국에서 유니세프를 대표해 유니세프의 이념을 실현합니다. 전 세계 어린이를 위해 기금을 모으고 어린이 권리를 옹호합니다.<br>
                            유니세프한국위원회는 후원금 100원 중 85원을 유니세프 본부로 송금하며 전 세계 33개 유니세프국가위원회 중 가장 높은 송금률을 자랑합니다. 국내 평가 전문 기관으로부터 높은 효율성과<br>
                            투명성도 인정받고 있습니다. 한국은 유니세프 역사상 도움을 받다가 도움을 주는 나라로 전환된 유일한 국가이며, 2022년 5대 모금 국가로 성장했습니다.<br>
                            유니세프한국위원회의 대표적인 어린이 권리 증진 사업은 ‘유니세프아동친화사회 만들기’ 프로젝트입니다. 어린이가 생활하는 사회(지역사회, 학교 등)와 어린이에게 영향을 미치는 사회<br>
                            (기업, 병원 등)를 어린이에게 친화적인 환경으로 만듭니다. 유니세프한국위원회는 우리 모두가 행복한 사회를 만들기 위해 어린이가 행복한 사회를 만듭니다.
                        </p>
                    </div>
                </div>
        <!-- introduction-header-1 -->
                <div class="unicef-container-2">
                    <header class="introduction-header-1">
                        <h2>
                            유니세프,<br>
                            무엇이 다른가요?
                        </h2>    
                    </header>
                </div>
        <!-- slide-contents -->
                <div class="slide-container">
                    <dl class="slide-contents">
                       <div class="contents">
                           <dt>
                               <span class="contents-titles-1">유니세프는</span><br>
                               <span class="contents-titles-2">신뢰 할 수 있습니다</span>
                               <p class="contents-description">
                                   유엔 기관이기 때문입니다. 유엔아동권리협약에 직접 명시된 유일한<br>
                                   아동권리증진 기관이자 1965년에 노벨평화상도 수상했습니다
                               </p>
                           </dt>
                           <dd>
                               <div class="introduction_img">
                                    <img src="/static/images/unicef_introduction/introduction_img1.png" alt="introduction_img1">
                               </div>
                           </dd>
                       </div>
                       <div class="contents">
                           <dt>
                                <span class="contents-titles-1">유니세프는</span><br> 
                                <span class="contents-titles-2">같은 돈으로 더 많은 어린이를<br>
                                                                구합니다</span> 
                                <p class="contents-description">
                                    유니세프는 지난 75년간의 경험과 전문성을 가지고 있으며 구호물품 등을<br>
                                    대량 구매하며 각국 정부와 협력해 근본적인 문제 해결을 추구하기<br>
                                    때문입니다.
                                </p>
                           </dt>
                           <dd>
                               <div class="introduction_img">
                                   <img src="/static/images/unicef_introduction/introduction_img2.png" alt="introduction_img2">
                               </div>
                           </dd>
                       </div>
                       <div class="contents">
                           <dt>
                                <span class="contents-titles-1">유니세프는</span><br> 
                                <span class="contents-titles-2">재난 발생시 가장 먼저 현장에<br>
                                                                접근합니다</span>
                                <p class="contents-description">
                                    유니세프는 약 190개 나라와 영토에서 활동하며, 5개의 물류센터를 보유해<br>
                                    전 세계 어디서 재난이 발생해도 가장 신속하게 현장에 접근하여 어린이들을<br>
                                    돕습니다. 긴급사황이 종료된 후에도 한결같이 어린이 곁을 지키며<br>
                                    지속가능한 발전을 지원합니다.
                                </p>
                           </dt>
                           <dd>
                               <div class="introduction_img">
                                   <img src="/static/images/unicef_introduction/introduction_img3.png" alt="introduction_img3">
                               </div>
                           </dd>
                       </div>
                       <div class="contents">
                           <dt>
                                <span class="contents-titles-1">유니세프는</span><br> 
                                <span class="contents-titles-2">효율적이고 투명합니다</span>
                                <p class="contents-description">
                                    유니세프한국위원회는 후원금 100원 중 85원을 어린이들을 위해 유니세프<br>
                                    본부로 송금하여, 전세계 33개 유니세프국가위원회 중 가장 높은 송금률을<br>
                                    자랑합니다. 유니세프한국위원회는 국내 평가 전문 기관으로부터 높은<br> 
                                    효율성과 투명성도 인정받고 있습니다.
                                </p>
                           </dt>
                           <dd>
                               <div class="introduction_img">
                                   <img src="/static/images/unicef_introduction/introduction_img4.png" alt="introduction_img4">
                               </div>
                           </dd>
                       </div>
                       <div class="contents">
                           <dt>
                                <span class="contents-titles-1">우리가</span><br> 
                                <span class="contents-titles-2">도움을 줄 차례입니다</span>
                                <p class="contents-description">
                                    유니세프는 1950년부터 1993년까지 43년간 수많은 한국 어린이의 소중한<br>
                                    생명을 지켰습니다. 이제는 우리가 개발도상국 어린이들에게도 꿈꿀기회를<br>
                                    주어야 합니다.
                                </p>
                           </dt>
                           <dd>
                               <div class="introduction_img">
                                   <img src="/static/images/unicef_introduction/introduction_img5.png" alt="introduction_img5">
                               </div>
                           </dd>
                       </div>
                    </dl>
                </div>
        <!-- introduction-header-2 -->
                <div class="unicef-container-3">
                    <header class="introduction-header-2">
                        <h2>
                            지난 75년간 한국이<br>
                            유니세프에서 세운 놀라운 기록
                        </h2>
                    </header>
                    <ul class="list">
                        <li>
                            <span>
                                첫째, 유니세프 역사상 한국은 도움을 받다가 도움을 주는 나라로 전환한 유일한 국가입니다.
                            </span>
                        </li>
                        <li>
                            <span>
                                둘째, 한국은 1994년 유니세프한국위원회 설립 이후 2020년에는 미국, 일본, 독일, 영국과 함께 5대 모금대국으로 성장했습니다.
                            </span>
                        </li>
                        <li>
                            <span>
                                셋째, 유니세프한국위원회는 전 세계 33개 국가위원회 중 가장 높은 효율성을 보이고 있습니다.
                            </span>
                        </li>
                    </ul>
                    <span class="list-description">한 마디로, 한국은 왜 유니세프가 존재하는지 입증해줍니다.</span>
                </div>
        <!-- introduction-header-3 --> 
                <div class="unicef-container-4">
                    <header class="introduction-header-3">
                        <h2>
                            유니세프,<br>
                            무슨일을 하나요?
                        </h2>
                    </header>
                    <div class="header-description">
                        <p>
                            유니세프는 모든 어린이가 행복한 세상을 위해, 유엔아동권리협약과 지속가능발전목표를 바탕으로 4년마다 중점 사업 계획을 세워 전 세계 어린이의 권리와 복지를 실현합니다.<br>
                            한국에서 유니세프를 대표해 유니세프의 이념을 실현하는 유니세프한국위원회는 매년 유니세프 본부의 감사를 받으며 유니세프 사업 계획에 맞춰 기금을 모으고 아동권리를 옹호합니다.
                        </p>
                    </div>
                </div>
         <!-- introduction-header-4 -->
                <div class="unicef-container-5">
                    <header class="introduction-header-4">
                        <h2>
                            유니세프 시그니처
                        </h2>
                        <div class="header-description">
                            <p>
                                유니세프 시그니처에는 유니세프가 추구해야 하는 가치와 역할이 담겨 있습니다.
                            </p>
                        </div>
                    </header>
                    <div class="box">
                        <div class="dl-wrap">
                            <dt>엠블럼</dt>
                            <dd>
                                유니세프 엠블럼은 부모가 아이를 들어 올리는 모습으로 희망, 안전, 기쁨을 상징합니다.
                            </dd>    
                            <dt>태그라인</dt>
                            <dd>
                                ‘for every child’ 태그라인은 ‘for’는 유니세프가 최우선으로 추구해야 하는 가치와 역할, ‘every’는 모든 어린이가 행복한 세상을 위한 유니세프의 가치,<br>
                                ‘child’는 단 한 명의 어린이도 빠짐없이 차별 없는 구호를 펼치는 유니세프의 미션을 담고 있습니다.
                            </dd>
                            <dt>로고</dt>
                            <dd>
                                유니세프 로고는 ‘평화’를 상징하는 컬러인 ‘유니세프 블루’로 사용합니다.
                            </dd>
                            <dt>유니세프한국위원회</dt>
                            <dd>
                                유니세프한국위원회는 유니세프 브랜드 가이드 라인에 따라 필요시 유니세프 로고 밑에 국가명을 표기하여 사용합니다.
                            </dd>
                            <div class="tagline-logo-img">
                                <img src="/static/images/unicef_introduction/tagline&logo_img.png" alt="tagline&logo_img">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        <!-- footer -->
            <footer class="main-footer">
            </footer>
        </main>
    </div>
    <script src="/static/js/main_header.js"></script>
</body>
</html>