<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/44bcb903a4.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/community/faq.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <title>어린이 정기후원 및 정기기부 단체</title>
</head>
<body>
    <div class="containel">
        <main>
        <!-- header -->
<header th:replace="~{fragment/header :: header}"></header>
            <!-- header-bot -->
            <div class="header-bot">
                <div class="header-bot-auto">
                    <div class="header-bot-title">
                        <h1>FAQ</h1>
                        <strong></strong>
                    </div>
                </div>
            </div>
<!-- FAQ 페이지 부분 -->
            <section class="faq">

                <!-- 상단 text-->
                <div class="faq-container-1">
                    <div class="faq-header">
                            <div class="faq-img-1">
                                <img src="/static/images/faq/faq_img1.png" alt="">
                            </div>
                            <div class="faq-img-2">
                                <img src="/static/images/faq/faq_img2.png" alt="">
                            </div>
                            <div class="faq-title-wrap">
                                <h2>후원금은 투명하게 쓰이나요?</h2>
                                <p>유니세프한국위원회는 후원금 100원 중 85원을 어린이들을 위해 유니세프 본부로 송금하여, 전세계 33개
                                    유니세프국가위원회 중 가장 높은 송금률을 자랑합니다.
                                    유니세프한국위원회는 국내 평가 전문 기관으로부터 높은 효율성과 투명성도 인정받고 있습니다.<p>
                                        
                                <p>유니세프한국위원회는 독립적인 국내평가 기관이 실시한 공익법인 재무 종합평가에서 재무 안정성 및
                                    효율성, 투명성 및 책무성 종합평가에서 만점인 별3개와 크라운 인증을 2019~2020년 2년 연속
                                    획득했습니다. 특히 2020년에는 20개 세부항목 평가에서도 모두 만점을 받았습니다.
                                    이 3가지 사항을 모두 충족한 법인은 평가 대상 9,648곳 중 유니세프한국위원회를 포함해 4곳(0.04%)에 불과합니다.
                                </p>
                            </div>
                            <div class="faq-img-bg">
                             
                            </div>
                    </div>
                </div>

                <!-- 하단 list -->
                <div class="faq-container-2">
                    <div class="faq-category">
                        <!-- search -->
                        <div class="faq-search-wrap">               
                            <div class="faq-search">
                                <div class="search-wrap">
                                    <input type="text" class="search-input" placeholder="검색어를 입력하세요" >
                                    <button type="button" class="button search-button"></button>
                                </div>
                                <!-- <div class="all-btn">
                                    <button type="button" class="button gray-button all-button">전체보기</button>
                                </div> -->
                            </div>
                        </div>
                        <!-- category-Tab -->
                        <div class="category-tab">
                          <ul class="category-tab-panel">
                            <li><a href="#"><button type="button" class="button white-button active" value="ALL" >전체</button></a></li>
                            <li><a href="#"><button type="button" class="button white-button" value="donate">후원</button></a></li>
                            <li><a href="#"><button type="button" class="button white-button" value="childRights">아동권리</button></a></li>
                            <li><a href="#"><button type="button" class="button white-button" value="activity">참여 활동</button></a></li>
                            <li><a href="#"><button type="button" class="button white-button" value="promotion">홍보/자료</button></a></li>
                            <li><a href="#"><button type="button" class="button white-button" value="recruitment">채용</button></a></li>
                            <li><a href="#"><button type="button" class="button white-button" value="other">기타</button></a></li>
                          </ul>
                            
                        </div>
                        
                            <!-- listPage / innerHTML 부분이 맞을까요...ㅜㅜ??-->
                            <div class="faq-list-page">
                                <ul>
                                    <li class="faq-list-header">
                                        <dl>
                                            <!-- ${category} -->
                                            
                                            <dt>후원</dt>
                                            <dd>
                                                <!-- ${subCategory}
                                                <span>[개인후원]</span> -->
                                                <!-- ${question}-->
                                                <p>유니세프는 무엇이 다른가요?</p>
                                                <i class="fa-solid fa-circle-arrow-down"></i>
                                            </dd>
                                        </dl>
                                           
                                            <!-- ${questionDetail} -->
                                        <div class="faq-detail detail-invisible invisible">
                                            <p>
                                                1. 유니세프는 신뢰할 수 있습니다.<br>
                                                유엔 기관이기 때문입니다. 유엔아동권리협약에 직접 명시된 유일한 아동권리증진 기관이자 1965년에 노벨평화상도 수상했습니다.
                                            </p>
                                            &nbsp
                                            
                                            <p>
                                                2. 유니세프는 같은 돈으로 더 많은 어린이를 구합니다.<br>
                                                유니세프는 지난 75년간의 경험과 전문성을 가지고 있으며 구호물품 등을 대량 구매하며 각국 정부와 협력해 근본적인 문제 해결을 추구하기 때문입니다.
                                            </p>
                                            <p>&nbsp</p>
                                            
                                            <P>
                                                3. 유니세프는 재난 발생시 가장 먼저 현장에 접근합니다.<br>
                                                유니세프는 약 190개 나라와 영토에서 활동하며, 5개의 물류센터를 보유해 전 세계 어디서 재난이 발생해도 가장 신속하게 현장에 접근하여 어린이를 돕습니다. 긴급상황이 종료된 후에도 한결같이 어린이 곁을 지키며 지속가능한 발전을 지원합니다.
                                            </P>
                                            <p>&nbsp</p>
                                            
                                            <p>
                                                4. 유니세프는 효율적이고 투명합니다.<br>
                                                유니세프한국위원회는 후원금 100원 중 85원을 어린이들을 위해 유니세프 본부로 송금하여, 전 세계 33개 유니세프국가위원회 중 가장 높은 송금율을 자랑합니다. 유니세프한국위원회는 국내 평가 전문 기관으로부터 높은 효율성과 투명성도 인정받고 있습니다. 
                                            </p>
                                            <p>&nbsp</p>
                                
                                            <p>
                                            ※ 유니세프한국위원회의 효율성과 투명성에 대한 객관적 증거<br>
                                            &nbsp ① 유니세프한국위원회는 독립적인 국내평가 기관이 실시한 공익법인 재무 종합평가에서 재무 안정성 및 효율성, 투명성 및 책무성 종합평가에서 만점인 별3개와 크라운 인증을 2019~2020년 2년 연속 획득했습니다.<br>
                                            &nbsp ② 특히 2020년에는 20개 세부항목 평가에서도 모두 만점을 받았습니다. 이 3가지 사항을 모두 충족한 법인은 평가 대상 9,648곳 중 유니세프한국위원회를 포함해 4곳(0.04%)에 불과합니다.
                                            </p>
                                            <p>&nbsp</p>
                                            
                                            </p>
                                                5. 우리가 도움을 줄 차례입니다.<br>
                                                유니세프는 1950년부터 1993년까지 43년간 수많은 한국 어린이의 소중한 생명을 지켰습니다. 이제는 우리가 개발도상국 어린이들에게도 꿈꿀 기회를 주어야 합니다.
                                            </p>
                                            <p>&nbsp</p>
                                            
                                            ※ 지난 75년 간 한국이 유니세프에서 세운 세 가지 기록<br>
                                            &nbsp   ① 첫째, 유니세프 역사상 한국은 도움을 받다가 도움을 주는 나라로 전환한 유일한 국가입니다.<br>
                                            &nbsp    ② 둘째, 한국은 1994년 유니세프한국위원회 설립 이후 2020년에는 미국, 일본, 독일, 영국과 함께 5대 모금대국으로 성장했습니다.<br>
                                            &nbsp    ③ 셋째, 유니세프한국위원회는 전 세계 33개 국가위원회 중 가장 높은 효율성을 보이고 있습니다.<br>
                                            &nbsp    ④ 한 마디로, 한국은 왜 유니세프가 존재하는지 입증해 줍니다.<br>
                                        </div>
                                    </li>
                                    <li class="faq-list-header">
                                        <dl>
                                            <!-- ${category} -->
                                            
                                            
                                            <dt>후원</dt>
                                            <dd>
                                                <!-- ${subCategory}
                                                <span>[개인후원]</span> -->
                                                <!-- ${question}-->
                                                <p>유니세프는 무엇이 다른가요?</p>
                                                <i class="fa-solid fa-circle-arrow-down"></i>
                                            </dd>
                                        </dl>
                                           
                                            <!-- ${questionDetail} -->
                                        <div class="faq-detail detail-invisible invisible">
                                            <p>
                                                1. 유니세프는 신뢰할 수 있습니다.<br>
                                                유엔 기관이기 때문입니다. 유엔아동권리협약에 직접 명시된 유일한 아동권리증진 기관이자 1965년에 노벨평화상도 수상했습니다.
                                            </p>
                                            &nbsp
                                            
                                            <p>
                                                2. 유니세프는 같은 돈으로 더 많은 어린이를 구합니다.<br>
                                                유니세프는 지난 75년간의 경험과 전문성을 가지고 있으며 구호물품 등을 대량 구매하며 각국 정부와 협력해 근본적인 문제 해결을 추구하기 때문입니다.
                                            </p>
                                            <p>&nbsp</p>
                                            
                                            <P>
                                                3. 유니세프는 재난 발생시 가장 먼저 현장에 접근합니다.<br>
                                                유니세프는 약 190개 나라와 영토에서 활동하며, 5개의 물류센터를 보유해 전 세계 어디서 재난이 발생해도 가장 신속하게 현장에 접근하여 어린이를 돕습니다. 긴급상황이 종료된 후에도 한결같이 어린이 곁을 지키며 지속가능한 발전을 지원합니다.
                                            </P>
                                            <p>&nbsp</p>
                                            
                                            <p>
                                                4. 유니세프는 효율적이고 투명합니다.<br>
                                                유니세프한국위원회는 후원금 100원 중 85원을 어린이들을 위해 유니세프 본부로 송금하여, 전 세계 33개 유니세프국가위원회 중 가장 높은 송금율을 자랑합니다. 유니세프한국위원회는 국내 평가 전문 기관으로부터 높은 효율성과 투명성도 인정받고 있습니다. 
                                            </p>
                                            <p>&nbsp</p>
                                
                                            <p>
                                            ※ 유니세프한국위원회의 효율성과 투명성에 대한 객관적 증거<br>
                                            &nbsp ① 유니세프한국위원회는 독립적인 국내평가 기관이 실시한 공익법인 재무 종합평가에서 재무 안정성 및 효율성, 투명성 및 책무성 종합평가에서 만점인 별3개와 크라운 인증을 2019~2020년 2년 연속 획득했습니다.<br>
                                            &nbsp ② 특히 2020년에는 20개 세부항목 평가에서도 모두 만점을 받았습니다. 이 3가지 사항을 모두 충족한 법인은 평가 대상 9,648곳 중 유니세프한국위원회를 포함해 4곳(0.04%)에 불과합니다.
                                            </p>
                                            <p>&nbsp</p>
                                            
                                            </p>
                                                5. 우리가 도움을 줄 차례입니다.<br>
                                                유니세프는 1950년부터 1993년까지 43년간 수많은 한국 어린이의 소중한 생명을 지켰습니다. 이제는 우리가 개발도상국 어린이들에게도 꿈꿀 기회를 주어야 합니다.
                                            </p>
                                            <p>&nbsp</p>
                                            
                                            ※ 지난 75년 간 한국이 유니세프에서 세운 세 가지 기록<br>
                                            &nbsp   ① 첫째, 유니세프 역사상 한국은 도움을 받다가 도움을 주는 나라로 전환한 유일한 국가입니다.<br>
                                            &nbsp    ② 둘째, 한국은 1994년 유니세프한국위원회 설립 이후 2020년에는 미국, 일본, 독일, 영국과 함께 5대 모금대국으로 성장했습니다.<br>
                                            &nbsp    ③ 셋째, 유니세프한국위원회는 전 세계 33개 국가위원회 중 가장 높은 효율성을 보이고 있습니다.<br>
                                            &nbsp    ④ 한 마디로, 한국은 왜 유니세프가 존재하는지 입증해 줍니다.<br>
                                        </div>
                                    </li>

                                    <li class="faq-list-header">
                                        <dl>
                                            <!-- ${category} -->
                                            
                                            
                                            <dt>후원</dt>
                                            <dd>
                                                <!-- ${subCategory}
                                                <span>[개인후원]</span> -->
                                                <!-- ${question}-->
                                                <p>유니세프는 무엇이 다른가요?</p>
                                                <i class="fa-solid fa-circle-arrow-down"></i>
                                            </dd>
                                        </dl>
                                           
                                            <!-- ${questionDetail} -->
                                        <div class="faq-detail detail-invisible invisible">
                                            <p>
                                                1. 유니세프는 신뢰할 수 있습니다.<br>
                                                유엔 기관이기 때문입니다. 유엔아동권리협약에 직접 명시된 유일한 아동권리증진 기관이자 1965년에 노벨평화상도 수상했습니다.
                                            </p>
                                            &nbsp
                                            
                                            <p>
                                                2. 유니세프는 같은 돈으로 더 많은 어린이를 구합니다.<br>
                                                유니세프는 지난 75년간의 경험과 전문성을 가지고 있으며 구호물품 등을 대량 구매하며 각국 정부와 협력해 근본적인 문제 해결을 추구하기 때문입니다.
                                            </p>
                                            <p>&nbsp</p>
                                            
                                            <P>
                                                3. 유니세프는 재난 발생시 가장 먼저 현장에 접근합니다.<br>
                                                유니세프는 약 190개 나라와 영토에서 활동하며, 5개의 물류센터를 보유해 전 세계 어디서 재난이 발생해도 가장 신속하게 현장에 접근하여 어린이를 돕습니다. 긴급상황이 종료된 후에도 한결같이 어린이 곁을 지키며 지속가능한 발전을 지원합니다.
                                            </P>
                                            <p>&nbsp</p>
                                            
                                            <p>
                                                4. 유니세프는 효율적이고 투명합니다.<br>
                                                유니세프한국위원회는 후원금 100원 중 85원을 어린이들을 위해 유니세프 본부로 송금하여, 전 세계 33개 유니세프국가위원회 중 가장 높은 송금율을 자랑합니다. 유니세프한국위원회는 국내 평가 전문 기관으로부터 높은 효율성과 투명성도 인정받고 있습니다. 
                                            </p>
                                            <p>&nbsp</p>
                                
                                            <p>
                                            ※ 유니세프한국위원회의 효율성과 투명성에 대한 객관적 증거<br>
                                            &nbsp ① 유니세프한국위원회는 독립적인 국내평가 기관이 실시한 공익법인 재무 종합평가에서 재무 안정성 및 효율성, 투명성 및 책무성 종합평가에서 만점인 별3개와 크라운 인증을 2019~2020년 2년 연속 획득했습니다.<br>
                                            &nbsp ② 특히 2020년에는 20개 세부항목 평가에서도 모두 만점을 받았습니다. 이 3가지 사항을 모두 충족한 법인은 평가 대상 9,648곳 중 유니세프한국위원회를 포함해 4곳(0.04%)에 불과합니다.
                                            </p>
                                            <p>&nbsp</p>
                                            
                                            </p>
                                                5. 우리가 도움을 줄 차례입니다.<br>
                                                유니세프는 1950년부터 1993년까지 43년간 수많은 한국 어린이의 소중한 생명을 지켰습니다. 이제는 우리가 개발도상국 어린이들에게도 꿈꿀 기회를 주어야 합니다.
                                            </p>
                                            <p>&nbsp</p>
                                            
                                            ※ 지난 75년 간 한국이 유니세프에서 세운 세 가지 기록<br>
                                            &nbsp   ① 첫째, 유니세프 역사상 한국은 도움을 받다가 도움을 주는 나라로 전환한 유일한 국가입니다.<br>
                                            &nbsp    ② 둘째, 한국은 1994년 유니세프한국위원회 설립 이후 2020년에는 미국, 일본, 독일, 영국과 함께 5대 모금대국으로 성장했습니다.<br>
                                            &nbsp    ③ 셋째, 유니세프한국위원회는 전 세계 33개 국가위원회 중 가장 높은 효율성을 보이고 있습니다.<br>
                                            &nbsp    ④ 한 마디로, 한국은 왜 유니세프가 존재하는지 입증해 줍니다.<br>
                                        </div>
                                    </li>
                                    <li class="faq-list-header">
                                        <dl>
                                            <!-- ${category} -->
                                            
                                            
                                            <dt>후원</dt>
                                            <dd>
                                                <!-- ${subCategory}
                                                <span>[개인후원]</span> -->
                                                <!-- ${question}-->
                                                <p>유니세프는 무엇이 다른가요?</p>
                                                <i class="fa-solid fa-circle-arrow-down"></i>
                                            </dd>
                                        </dl>
                                           
                                            <!-- ${questionDetail} -->
                                        <div class="faq-detail detail-invisible invisible">
                                            <p>
                                                1. 유니세프는 신뢰할 수 있습니다.<br>
                                                유엔 기관이기 때문입니다. 유엔아동권리협약에 직접 명시된 유일한 아동권리증진 기관이자 1965년에 노벨평화상도 수상했습니다.
                                            </p>
                                            &nbsp
                                            
                                            <p>
                                                2. 유니세프는 같은 돈으로 더 많은 어린이를 구합니다.<br>
                                                유니세프는 지난 75년간의 경험과 전문성을 가지고 있으며 구호물품 등을 대량 구매하며 각국 정부와 협력해 근본적인 문제 해결을 추구하기 때문입니다.
                                            </p>
                                            <p>&nbsp</p>
                                            
                                            <P>
                                                3. 유니세프는 재난 발생시 가장 먼저 현장에 접근합니다.<br>
                                                유니세프는 약 190개 나라와 영토에서 활동하며, 5개의 물류센터를 보유해 전 세계 어디서 재난이 발생해도 가장 신속하게 현장에 접근하여 어린이를 돕습니다. 긴급상황이 종료된 후에도 한결같이 어린이 곁을 지키며 지속가능한 발전을 지원합니다.
                                            </P>
                                            <p>&nbsp</p>
                                            
                                            <p>
                                                4. 유니세프는 효율적이고 투명합니다.<br>
                                                유니세프한국위원회는 후원금 100원 중 85원을 어린이들을 위해 유니세프 본부로 송금하여, 전 세계 33개 유니세프국가위원회 중 가장 높은 송금율을 자랑합니다. 유니세프한국위원회는 국내 평가 전문 기관으로부터 높은 효율성과 투명성도 인정받고 있습니다. 
                                            </p>
                                            <p>&nbsp</p>
                                
                                            <p>
                                            ※ 유니세프한국위원회의 효율성과 투명성에 대한 객관적 증거<br>
                                            &nbsp ① 유니세프한국위원회는 독립적인 국내평가 기관이 실시한 공익법인 재무 종합평가에서 재무 안정성 및 효율성, 투명성 및 책무성 종합평가에서 만점인 별3개와 크라운 인증을 2019~2020년 2년 연속 획득했습니다.<br>
                                            &nbsp ② 특히 2020년에는 20개 세부항목 평가에서도 모두 만점을 받았습니다. 이 3가지 사항을 모두 충족한 법인은 평가 대상 9,648곳 중 유니세프한국위원회를 포함해 4곳(0.04%)에 불과합니다.
                                            </p>
                                            <p>&nbsp</p>
                                            
                                            </p>
                                                5. 우리가 도움을 줄 차례입니다.<br>
                                                유니세프는 1950년부터 1993년까지 43년간 수많은 한국 어린이의 소중한 생명을 지켰습니다. 이제는 우리가 개발도상국 어린이들에게도 꿈꿀 기회를 주어야 합니다.
                                            </p>
                                            <p>&nbsp</p>
                                            
                                            ※ 지난 75년 간 한국이 유니세프에서 세운 세 가지 기록<br>
                                            &nbsp   ① 첫째, 유니세프 역사상 한국은 도움을 받다가 도움을 주는 나라로 전환한 유일한 국가입니다.<br>
                                            &nbsp    ② 둘째, 한국은 1994년 유니세프한국위원회 설립 이후 2020년에는 미국, 일본, 독일, 영국과 함께 5대 모금대국으로 성장했습니다.<br>
                                            &nbsp    ③ 셋째, 유니세프한국위원회는 전 세계 33개 국가위원회 중 가장 높은 효율성을 보이고 있습니다.<br>
                                            &nbsp    ④ 한 마디로, 한국은 왜 유니세프가 존재하는지 입증해 줍니다.<br>
                                        </div>
                                    </li>
                                    <li class="faq-list-header">
                                        <dl>
                                            <!-- ${category} -->
                                            
                                            
                                            <dt>후원</dt>
                                            <dd>
                                                <!-- ${subCategory}
                                                <span>[개인후원]</span> -->
                                                <!-- ${question}-->
                                                <p>유니세프는 무엇이 다른가요?</p>
                                                <i class="fa-solid fa-circle-arrow-down"></i>
                                            </dd>
                                        </dl>
                                           
                                            <!-- ${questionDetail} -->
                                        <div class="faq-detail detail-invisible invisible">
                                            <p>
                                                1. 유니세프는 신뢰할 수 있습니다.<br>
                                                유엔 기관이기 때문입니다. 유엔아동권리협약에 직접 명시된 유일한 아동권리증진 기관이자 1965년에 노벨평화상도 수상했습니다.
                                            </p>
                                            &nbsp
                                            
                                            <p>
                                                2. 유니세프는 같은 돈으로 더 많은 어린이를 구합니다.<br>
                                                유니세프는 지난 75년간의 경험과 전문성을 가지고 있으며 구호물품 등을 대량 구매하며 각국 정부와 협력해 근본적인 문제 해결을 추구하기 때문입니다.
                                            </p>
                                            <p>&nbsp</p>
                                            
                                            <P>
                                                3. 유니세프는 재난 발생시 가장 먼저 현장에 접근합니다.<br>
                                                유니세프는 약 190개 나라와 영토에서 활동하며, 5개의 물류센터를 보유해 전 세계 어디서 재난이 발생해도 가장 신속하게 현장에 접근하여 어린이를 돕습니다. 긴급상황이 종료된 후에도 한결같이 어린이 곁을 지키며 지속가능한 발전을 지원합니다.
                                            </P>
                                            <p>&nbsp</p>
                                            
                                            <p>
                                                4. 유니세프는 효율적이고 투명합니다.<br>
                                                유니세프한국위원회는 후원금 100원 중 85원을 어린이들을 위해 유니세프 본부로 송금하여, 전 세계 33개 유니세프국가위원회 중 가장 높은 송금율을 자랑합니다. 유니세프한국위원회는 국내 평가 전문 기관으로부터 높은 효율성과 투명성도 인정받고 있습니다. 
                                            </p>
                                            <p>&nbsp</p>
                                
                                            <p>
                                            ※ 유니세프한국위원회의 효율성과 투명성에 대한 객관적 증거<br>
                                            &nbsp ① 유니세프한국위원회는 독립적인 국내평가 기관이 실시한 공익법인 재무 종합평가에서 재무 안정성 및 효율성, 투명성 및 책무성 종합평가에서 만점인 별3개와 크라운 인증을 2019~2020년 2년 연속 획득했습니다.<br>
                                            &nbsp ② 특히 2020년에는 20개 세부항목 평가에서도 모두 만점을 받았습니다. 이 3가지 사항을 모두 충족한 법인은 평가 대상 9,648곳 중 유니세프한국위원회를 포함해 4곳(0.04%)에 불과합니다.
                                            </p>
                                            <p>&nbsp</p>
                                            
                                            </p>
                                                5. 우리가 도움을 줄 차례입니다.<br>
                                                유니세프는 1950년부터 1993년까지 43년간 수많은 한국 어린이의 소중한 생명을 지켰습니다. 이제는 우리가 개발도상국 어린이들에게도 꿈꿀 기회를 주어야 합니다.
                                            </p>
                                            <p>&nbsp</p>
                                            
                                            ※ 지난 75년 간 한국이 유니세프에서 세운 세 가지 기록<br>
                                            &nbsp   ① 첫째, 유니세프 역사상 한국은 도움을 받다가 도움을 주는 나라로 전환한 유일한 국가입니다.<br>
                                            &nbsp    ② 둘째, 한국은 1994년 유니세프한국위원회 설립 이후 2020년에는 미국, 일본, 독일, 영국과 함께 5대 모금대국으로 성장했습니다.<br>
                                            &nbsp    ③ 셋째, 유니세프한국위원회는 전 세계 33개 국가위원회 중 가장 높은 효율성을 보이고 있습니다.<br>
                                            &nbsp    ④ 한 마디로, 한국은 왜 유니세프가 존재하는지 입증해 줍니다.<br>
                                        </div>
                                    </li>                                
                                </ul>
                                
                            </div>
                      

                    </div>

                </div>



            </section>
<!-- footer -->
            <footer class="main-footer">
                <ul>
                    <li class="main-footer-left">
                        <ul>
                            <li><a href="#">이용약관</a></li>
                            <li><a href="#">개인정보 처리방침</a></li>
                            <li><a href="#">오시는 길</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">사이트맵</a></li>
                            <li>후원문의 02.737.1004</li>
                        </ul>
                        <div>
                            사단법인 유니세프한국위원회　대표자: 정갑영　고유번호: 102-82-07606[04099]　서울시 마포구 서강로 60(창전동)
                        </div>
                        <div>
                            COPYRIGHT @ THE KOREAN COMMITTEE FOR UNICEF. ALL RIGHT RESERVED
                        </div>
                    </li>
                    <li class="main-footer-right">
                        <ul>
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </footer>
        </main>
    </div>    
    <script src="/static/js/header.js"></script>
    <script src="/static/js/community/faq.js"></script>
</body>
</html>