<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragment/head :: head}"></head>
<head>
    <link rel="stylesheet" href="/static/css/community/notice.css">
</head>
<body>
    <div class="containel">
        <main>
        <!-- header -->
<header th:replace="~{fragment/header :: header}"></header>
            <!-- header-bot -->
            <div class="header-bot">
                <div class="header-bot-auto">
                    <div class="header-bot-title">
                        <h1>공지사항</h1>
                        <strong>for every child, notice</strong>
                    </div>
                </div>
            </div>
<!-- NOTICE 페이지 부분 -->
            <section class="notice">

                <!-- list -->
                <div class="notice-container">
                    <div class="notice-category">
                        <!-- search -->
                        <div class="faq-search-wrap">               
                            <div class="notice-search">
                                <div class="search-wrap">
                                    <input type="text" class="search-input" placeholder="검색어를 입력하세요" >
                                    <button type="button" class="button search-button"></button>
                                </div>
                                <div class="all-btn">
                                    <button type="button" class="button gray-button all-button">전체보기</button>
                                </div>
                            </div>
                        </div>
                                          
                        <!-- listPage / innerHTML 부분이 맞을까요...ㅜㅜ??-->
                        <div class="notice-list-page">
                            <ul>
                                <li class="notice-list-header">
                                    <dl>
                                        <dt>
                                             <!-- ${question}-->
                                             <p><a href="/community/noticeMain/item1" class="notice-title">유니세프한국위원회 팩트 체크 “유니세프, 믿을 수 있나요”</a></p> 
                                        </dt>
                                        <dd>
                                           <!-- ${date} -->
                                            2022.08.25
                                        </dd>
                                         
                                    </dl>
                                        
                                </li>
                                <li class="notice-list-header">
                                    <dl>
                                        <dt>
                                             <!-- ${question}-->
                                             <p><a href="" class="notice-title">[채용공고] 2023년 유니세프한국위원회 신입직원 공개 채용</a></p> 
                                        </dt>
                                        <dd>
                                           <!-- ${date} -->
                                            2022.08.25
                                        </dd>
                                         
                                    </dl>
                                        
                                </li>
                                <li class="notice-list-header">
                                    <dl>
                                        <dt>
                                             <!-- ${question}-->
                                             <p><a href="" class="notice-title">유니세프 달력그림 그리기 공모전 수상작 발표</a></p> 
                                        </dt>
                                        <dd>
                                           <!-- ${date} -->
                                            2022.08.25
                                        </dd>
                                         
                                    </dl>
                                        
                                </li>

                            </ul>
                            
                        </div>
                      

                    </div>

                </div>



            </section>
<!-- footer -->
<footer th:replace="~{fragment/footer :: footer}"></footer>
        </main>
    </div>    
    <script src="/static/js/community/faq.js"></script>
</body>
</html>