<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragment/head :: head}"></head>
<head>
    <link rel="stylesheet" href="/static/css/mypage/mypage_my_info.css">
    <link rel="stylesheet" href="/static/css/mypage/mypage.css">
</head>
<body>
    <div class="container">
        <main>
<!-- header -->
<header th:replace="~{fragment/header :: header}"></header>      
            <!-- header-bot -->
            <div class="header-bot">
                <div class="header-bot-auto">
                    <div class="header-bot-title">
                        <h1>마이페이지</h1>
                        <strong>for every child, UNICEF</strong>
                    </div>
                    <img src="/static/images/header/pattern.png" alt="title">
                </div>
            </div>
<!-- section -->
            <section class="mypage-content">
                <div class="mypage-content-top">                        
                    <ul>
                        <li><a href="/templates/mypage/mypage_my_info.html" class="active">개인정보</a></li>
                        <li><a href="/templates/mypage/mypage_support_info.html">후원 및 결제정보</a></li>
                        <li><a href="/templates/mypage/mypage_my_receipt.html">기부금영수증</a></li>
                        <li><a href="/templates/mypage/mypage_onetoone.html">1:1문의</a></li>
                    </ul>
                </div>
                <div class="mypage-content-bot">                        
                    <ul>                        
                        <li class="my-info">
                            <h3>아이디 재인증</h3>
                            <h3>
                                개인정보를 안전하게 보호하기 위해 <br>
                                비밀번호를 한번 더 입력해주세요.
                            </h3>
                            <div>
                                <label>비밀번호</label>
                                <input type="password" placeholder="8-16자의 영문 및 숫자, 특수문자를 모두 포함">
                            </div>
                            <button class="eidt-go-btn sky-button button">확인</button>
                        </li>                        
                        <li class="my-info-edit  invisible">
                            <article class="article1">
                                <ul>
                                    <li>회원님의 개인정보는 보안 인증을 통해 외부로 유출되지 않습니다.</li>
                                    <li>주민등록번호와 주소는 기부금 영수증의 발급을 위해 후원자님의 동의 하에 수집됩니다.</li>
                                    <li>변경할 내용을 입력하신 후 하단의 [수정하기] 버튼을 누르시면 정보가 수정됩니다.</li>
                                </ul>
                            </article>
                            <article class="article2">
                                <div>                                    
                                    <label>아이디</label>
                                    <input type="text" placeholder="">
                                </div>
                                <div>                                    
                                    <label>비밀번호</label>
                                    <button class="password-edit-btn button">비밀번호 변경</button>
                                </div>
                                <div class="password-edit invisible">                                    
                                    <label>기존 비밀번호</label>
                                    <input type="password" placeholder="기존 비밀번호 입력">
                                </div>
                                <div class="password-edit invisible">                                    
                                    <label>새 비밀번호</label>
                                    <input type="password" placeholder="8-16자의 영문 및 숫자, 특수문자를 모두 포함">
                                </div>
                                <div>                                    
                                    <label>성명·단체명</label>
                                    <input type="text" placeholder="">
                                </div>
                                <div>                                    
                                    <label>휴대폰번호</label>
                                    <input type="text" placeholder="">
                                </div>
                                <div>                                    
                                    <label>이메일</label>
                                    <input type="text" placeholder="">
                                </div>
                                <button class="drop-btn"><a href="/templates/mypage/mypage_drop.html">웹사이트회원탈퇴</a></button>
                                <button class="eidt-done-btn sky-button button">수정하기</button>
                            </article>
                            <article class="article3">
                                <div>
                                    <h3>유니세프에 후원 중이신가요?</h3>
                                    <p>
                                        회원정보와 후원내역을 연결하세요. <br>
                                        후원정보를 쉽게 확인할 수 있습니다.
                                    </p>
                                </div>
                                <button class="sky-button button">후원내역 연결하기</button>
                            </article>
                        </li>
                    </ul>
                    <article class="edit-popup invisible">
                        <div>
                            <h1>저장되었습니다</h1>
                            <button class="edit-done sky-button button">확인</button>    
                        </div>
                    </article>
                </div>
            </section>
<!-- footer -->
<footer th:replace="~{fragment/footer :: footer}"></footer>
        </main>
    </div>
    <script src="/static/js/mypage/mypage_my_info.js"></script>
</body>
</html>