<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragment/head :: head}"></head>
<head>
    <link rel="stylesheet" href="/static/css/mypage/mypage.css">
    <link rel="stylesheet" href="/static/css/mypage/mypage_support_info.css">
</head>
<body>
    <div class="container">
        <main>
<!-- header -->
<header th:replace="~{fragment/header :: header}"></header>       
            <!-- header-bot -->
            <div class="header-bot">
                <div class="header-bot-auto">
                    <div class="header-bot-title">
                        <h1>마이페이지</h1>
                        <strong>for every child, UNICEF</strong>
                    </div>
                    <img src="/static/images/header/pattern.png" alt="title">
                </div>
            </div>
<!-- section -->
            <section class="mypage-content">
                <div class="mypage-content-top">                        
                    <ul>
                        <li><a href="/mypage/myinfo">개인정보</a></li>
                        <li><a href="/mypage/supportinfo" class="active">후원 및 결제정보</a></li>
                        <li><a href="/mypage/myreceipt">기부금영수증</a></li>
                        <li><a href="/mypage/onetoone">1:1문의</a></li>
                    </ul>
                </div>
                <div class="mypage-content-bot">                        
                    <ul>
                        <li class="support-info">
                            <article>
                                <h2>정기후원 정보</h2>
                                <p>현재 유니세프에 후원하고 계신 정기후원 정보입니다.</p>
                                <div>
                                    후원내역이 없습니다.
                                </div>
                            </article>
                                <a href="#"><img src="/static/images/mypage/mypage_support.png" alt="mypage_support.png"></a>
                            <article>
                                <h2>결제정보</h2>
                                <p>후원금의 결제정보 변경을 원하시면 [수정]버튼을 눌러주세요.</p>
                                <div>
                                    결제 정보가 없습니다.
                                </div>
                            </article>
                        </li>
                    </ul>
                </div>
            </section>
<!-- footer -->
<footer th:replace="~{fragment/footer :: footer}"></footer>
        </main>
    </div>
</body>
</html>