<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragment/head :: head}"></head>
<head>
    <link rel="stylesheet" href="/static/css/mypage/mypage_drop.css">
</head>
<body>
    <div class="container">
        <main>
<!-- header -->
<header th:replace="~{fragment/header :: header}"></header>      
            <!-- header-bot -->
            <div class="header-bot">
                <div class="header-bot-auto">
                    <div class="header-bot-title">
                        <h1>웹사이트 회원탈퇴</h1>
                        <strong>for every child, UNICEF</strong>
                    </div>
                    <img src="/static/images/header/pattern.png" alt="title">
                </div>
            </div>
<!-- section -->
            <section class="mypage-drop">
                <div class="mypage-drop-auto">
                    <ul class="article1">
                        <li>유니세프 웹사이트의 회원 탈퇴를 하셔도 후원은 계속해서 진행됩니다.</li>
                        <li>단, 후원 또는 활동내역을 확인하시는데 불편이 발생할 수 있습니다.</li>
                        <li>웹 회원 탈퇴 후 재가입은 가능하지만 한 번 탈퇴한 아이디는 다시 사용하실 수 없습니다.</li>
                        <li><span>웹 회원 탈퇴와 함께 정기후원 중단을 원하시면 후원본부 02-737-1004로 연락</span>주시길 바랍니다.</li>
                    </ul>
                    <article class="article2">
                        <h2>웹사이트 회원 탈퇴 사유</h2>
                        <p>불편했던 사항을 체크해주시고 유니세프에 바라는 점을 적어주세요</p>
                        <div>
                            <label for="dropReason1-1">
                                <input id="dropReason1-1" name="dropReason1" type="radio" value="아이디 변경/재가입을 위해서">
                                <span>아이디 변경/재가입을 위해서</span>
                            </label>
                            <label for="dropReason1-2">
                                <input id="dropReason1-2" name="dropReason1" type="radio" value="사용빈도가 낮아서">
                                <span>사용빈도가 낮아서</span>
                            </label>
                            <label for="dropReason1-3">
                                <input id="dropReason1-3" name="dropReason1" type="radio" value="필요한 정보가 없어서">
                                <span>필요한 정보가 없어서</span>
                            </label>
                            <label for="dropReason1-4">
                                <input id="dropReason1-4" name="dropReason1" type="radio" value="웹서비스장애빈번">
                                <span>웹서비스장애빈번</span>
                            </label>
                            <label for="dropReason1-5">
                                <input id="dropReason1-5" name="dropReason1" type="radio" value="기타">
                                <span>기타</span>
                            </label>
                        </div>
                    </article>
                    <article class="article3">
                        <h2>E-소식지 수신여부</h2>
                        <p>회원탈퇴 후에도 유니세프 E-소식지를 계속 받아보시겠습니까?</p>
                        <div>
                            <label for="dropReason2-1">
                                <input id="dropReason2-1" name="dropReason2" type="radio" value="예, 계속 받아보겠습니다">
                                <span>예, 계속 받아보겠습니다</span>
                            </label>
                            <label for="dropReason2-2">
                                <input id="dropReason2-2" name="dropReason2" type="radio" value="아니오">
                                <span>아니오</span>
                            </label>
                        </div>
                    </article>
                    <article class="article4">
                        <h2>유니세프에 바라는 의견</h2>
                        <p>유니세프에 바라는 의견부탁드립니다.</p>
                        <div>
                            <textarea placeholder="유니세프에 바라는 의견 부탁드립니다"></textarea>
                        </div>
                    </article>
                    <article class="article5">
                        <h2>본인 확인</h2>
                        <p>회원님의 정보 보호를 위해 비밀번호를 한 번 더 입력해주세요.</p>
                        <div>
                            <div>                                    
                                <label>아이디</label>
                                <input type="text" placeholder="">
                            </div>
                            <div>                                    
                                <label>비밀번호</label>
                                <input type="password" placeholder="비밀번호 입력">
                            </div>
                        </div>
                    </article>
                    <article class="article6">
                        <a href="/mypage/my_info"><button class="sky-button button">취소하기</button></a>
                        <button class="white-button button">탈퇴하기</button>
                    </article>
                </div>
            </section>
<!-- footer -->
<footer th:replace="~{fragment/footer :: footer}"></footer>
        </main>
    </div>
</body>
</html>