<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/44bcb903a4.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/mypage/mypage.css">
    <link rel="stylesheet" href="/static/css/mypage/mypage_my_receipt.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <title>어린이 정기후원 및 정기기부 단체</title>
</head>
<body>
    <div class="container">
        <main>
<!-- header -->
            <header class="main-header">
                <!-- header-top -->
                <div class="header-top clearfix">
                    <ul class="header-top-auto">
                        <li><a href="#">로그인</a></li>
                        <li><a href="#">회원가입</a></li>
                        <li><button>기부금영수증</button></li>
                        <li><a href="#">FAQ</a></li>
                        <li><input type="text"></li>
                    </ul>
                </div>
                <!-- header-mid -->
                <div class="header-mid">
                    <div class="header-mid-auto clearfix">                                    
                        <a href="/templates/main.html" class="header-logo">
                            <img src="/static/images/header/logo.png" alt="logo">
                        </a>  
                        <ul class="main-menu">
                            <li>
                                <a href="#">하는일</a>  
                            </li>
                            <li>
                                <a href="#">후원하기</a>
                            </li>
                            <li>
                                <a href="#">참여활동</a> 
                            </li>
                            <li>
                                <a href="/templates/unicef/unicef_introduction.html">유니세프 소개</a>
                            </li>
                        </ul>
                        <input type="button" value="후원하기" class="support-button button yellow-button">
                    </div>
                    <div class="header-midsub invisible">
                        <div class="header-midsub-auto">                                
                            <ul>
                                <li><a href="#">활동지역</a></li>
                                <li><a href="#">스쿨스포아시아</a></li>
                                <li><a href="#">소식</a></li>
                            </ul>                  
                            <ul>
                                <li><a href="#">정기후원</a></li>
                                <li><a href="#">일시후원</a></li>
                                <li><a href="/templates/sponsor/inspired_gifts.html">생명을 구하는 선물</a></li>
                            </ul>                    
                            <ul>
                                <li><a href="#">후원자이야기</a></li>
                                <li><a href="#">자원봉사</a></li>
                            </ul>                
                            <ul>
                                <li><a href="/templates/unicef/unicef_introduction.html">소개</a></li>
                                <li><a href="#">공지사항</a></li>
                                <li><a href="#">소식</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>          
            <!-- header-bot -->
            <div class="header-bot">
                <div class="header-bot-auto">
                    <div class="header-bot-title">
                        <h1>마이페이지</h1>
                        <strong>for every child, UNICEF</strong>
                    </div>
                    <img src="/static/images/header/pattern.png" alt="title">
                </div>
            </div>
<!-- section -->
            <section class="mypage-content">
                <div class="mypage-content-top">                        
                    <ul>
                        <li><a href="/templates/mypage/mypage_my_info.html">개인정보</a></li>
                        <li><a href="/templates/mypage/mypage_support_info.html">후원 및 결제정보</a></li>
                        <li><a href="/templates/mypage/mypage_my_receipt.html" class="active">기부금영수증</a></li>
                        <li><a href="/templates/mypage/mypage_onetoone.html">1:1문의</a></li>
                    </ul>
                </div>
                <div class="mypage-content-bot">                        
                    <ul>
                        <li class="my-receipt">
                            <ul class="receipt_1">
                                <strong>영수증 발급 안내</strong>
                                <li>후원자 본인 명의로만 발급 가능하며, 주민등록번호 13자리가 모두 정확히 등록된 개인 후원자의 경우 국세청 홈택스에서 자동 확인 가능합니다.</li>
                                <li>매년 초 우편으로 보내드리던 연말정산 기부금 영수증이 2016년 1월부터 일괄 발송되지 않습니다.</li>
                                <li>우편 발급 신청은 지속적으로 가능하며, 요청시 익일 발송되어 도착까지 3~4일이 소요됩니다. (주말/공휴일 제외)</li>
                            </ul>
                            <div class="receipt_2">
                                <h3>
                                    후원본부(02-737-1004, 평일 09:00~18:00)로 연락주시면 <br>
                                    빠르게 도와드리겠습니다.
                                </h3>
                            </div>
                            <div class="receipt_3">
                                <strong>문의사항이 있으신가요?</strong>
                                <p>
                                    기부금 영수증 발급과 관련해 문의사항이 있으시다면 <br>
                                    유니세프 후원본부(전화 02-737-1004 / 평일 09:00~18:00, 이메일 donor@unicef.or.kr)로 연락주시기 바랍니다.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
<!-- footer -->
            <footer class="main-footer">
                <ul>
                    <li class="main-footer-left">
                        <ul>
                            <li><a href="#">이용약관</a></li>
                            <li><a href="#">개인정보 처리방침</a></li>
                            <li><a href="#">오시는 길</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">사이트맵</a></li>
                            <li>후원문의 02.737.1004</li>
                        </ul>
                        <div>
                            사단법인 유니세프한국위원회　대표자: 정갑영　고유번호: 102-82-07606[04099]　서울시 마포구 서강로 60(창전동)
                        </div>
                        <div>
                            COPYRIGHT @ THE KOREAN COMMITTEE FOR UNICEF. ALL RIGHT RESERVED
                        </div>
                    </li>
                    <li class="main-footer-right">
                        <ul>
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </footer>
        </main>
    </div>
    <script src="/static/js/header.js"></script>
</body>
</html>