<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragment/head :: head}"></head>
<head>
    <link rel="stylesheet" href="/static/css/mypage/mypage.css">
    <link rel="stylesheet" href="/static/css/mypage/mypage_support_info.css">
</head>
<body>
    <div class="container">
        <main>
<!-- header -->
<header th:replace="~{fragment/header :: header}"></header>       
            <!-- header-bot -->
            <div class="header-bot">
                <div class="header-bot-auto">
                    <div class="header-bot-title">
                        <h1>마이페이지</h1>
                        <strong>for every child, UNICEF</strong>
                    </div>
                    <img src="/static/images/header/pattern.png" alt="title">
                </div>
            </div>
<!-- section -->
            <section class="mypage-content">
                <div class="mypage-content-top">                        
                    <ul>
                        <li><a href="/mypage/myinfo">개인정보</a></li>
                        <li><a href="/mypage/supportinfo" class="active">후원 및 결제정보</a></li>
                        <li><a href="/mypage/myreceipt">기부금영수증</a></li>
                        <li><a href="/mypage/onetoone">1:1문의</a></li>
                    </ul>
                </div>
                <div class="mypage-content-bot">                        
                    <ul>
                        <li class="support-info">
                            <article class="support-info-container">
                                <h2>후원정보</h2>
                                <p>유니세프에 후원하신 정보입니다.</p>
                                <div>
                                    <!-- 후원내역이 없습니다. -->                                    
                                    <article class="mydata">
                                        <ul>
                                            <li class="mydata-total">
                                                <p>
                                                    총 후원 횟수 <span>n</span>번
                                                </p>
                                                <!-- <article>
                                                    <div><i class="fa-solid fa-angles-left"></i></div>
                                                    <div><i class="fa-solid fa-angle-left"></i></div>
                                                    <div id="page-active">1</div>
                                                    <div>2</div>
                                                    <div>3</div>
                                                    <div>4</div>
                                                    <div>5</div>
                                                    <div><i class="fa-solid fa-angle-right"></i></div>
                                                    <div><i class="fa-solid fa-angles-right"></i></div>
                                                </article> -->
                                            </li>
                                        <!-- 타이틀 -->
                                            <li class="mydata-title">
                                                <ul>
                                                    <li>후원일시</li>
                                                    <li>후원분야</li>
                                                    <li>후원종류</li>
                                                    <li>후원금</li>
                                                    <li>누적후원금</li>
                                                    <li>간이영수증</li>
                                                    <li>후원취소</li>
                                                </ul>
                                            </li>
                                        <!-- 회원정보 -->
                                            <li class="mydata-list">
                                            </li>
                                        </ul>
                                    </article>
                                </div>
                            </article>
                                <a href="#"><img src="/static/images/mypage/mypage_support.png" alt="mypage_support.png"></a>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- footer -->
            <footer th:replace="~{fragment/footer :: footer}"></footer>
        </main>
    </div>
    <script src="/static/js/mypage/mypage_support_info.js"></script>
</body>

</html>