<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragment/head :: head}"></head>
<head>
    <link rel="stylesheet" href="/static/css/mypage/mypage.css">
    <link rel="stylesheet" href="/static/css/mypage/mypage_onetoone_form.css">
</head>
<body>
    <div class="container">
        <main>
<!-- header -->
<header th:replace="~{fragment/header :: header}"></header>          
            <!-- header-bot -->
            <div class="header-bot">
                <div class="header-bot-auto">
                    <div class="header-bot-title">
                        <h1>마이페이지</h1>
                        <strong>for every child, UNICEF</strong>
                    </div>
                    <img src="/static/images/header/pattern.png" alt="title">
                </div>
            </div>
<!-- section -->
            <section class="mypage-content">
                <div class="mypage-content-top">                        
                    <ul>
                        <li><a href="/templates/mypage/mypage_my_info.html">개인정보</a></li>
                        <li><a href="/templates/mypage/mypage_support_info.html">후원 및 결제정보</a></li>
                        <li><a href="/templates/mypage/mypage_my_receipt.html">기부금영수증</a></li>
                        <li><a href="/templates/mypage/mypage_onetoone.html" class="active">1:1문의</a></li>
                    </ul>
                </div>
                <div class="mypage-content-bot">                        
                    <ul>
                        <li class="onetoone-form">
                            <article class="contact-1">
                                <h1>후원자님 감사합니다.</h1>
                                <h4>
                                    후원자님이 보내주신 사랑 덕분에 <br>
                                    전 세계 수많은 어린이가 희망의 삶을 되찾았습니다.
                                </h4>
                                <p>
                                    후원하시면서 궁금한 점이나 요청하실 사항 있으면 자유롭게 의견을 남겨주시기 바랍니다. <br>
                                    남기신 문의에 대한 답변은 개인정보에 입력하신 이메일로 전송해드립니다. <br>

                                    일부 문의 사항의 경우 정확한 본인 확인을 위하여 전화를 드리고 있으니 양해해 주시기 바랍니다. 문의하신 순서에 따라 답변을 드리는 관계로 문의가 많을 경우 답변이 다소 지연될 수 있습니다. 가능한 한 최대한 빨리 답변을 드리겠습니다. <br>
                                    유니세프를 후원해 주신 소중한 뜻을 기억해 어린이가 행복한 세상을 만드는 일에 최선의 노력을 다하겠습니다.
                                </p>
                            </article>
                            <article class="contact-2">
                                <h3>문의 유형</h3>
                                <div>                                    
                                    <button class="white-button button">개인후원</button>
                                    <button class="white-button button">팔찌,반지</button>
                                    <button class="white-button button">홍보,자료문의</button>
                                    <button class="white-button button">자원봉사</button>
                                    <button class="white-button button">채용</button>

                                    <button class="white-button button">아동권리·아동친화사업</button>
                                    <button class="white-button button">학교캠페인</button>
                                    <button class="white-button button">모유수유</button>
                                    <button class="white-button button">기업후원</button>
                                    <button class="white-button button">기념기부</button>

                                    <button class="white-button button">동전모금</button>
                                    <button class="white-button button">후원병원</button>
                                    <button class="white-button button">유산기부</button>
                                    <button class="white-button button">재단/비영리/기관 및 단체</button>
                                </div>                                
                            </article>
                            <article class="contact-3">
                                <h3>제목</h3>
                                <input type="text" placeholder="제목을 입력해주세요. (최소 5자 이상)" maxlength="30">
                            </article>
                            <article class="contact-4">
                                <h3>문의내용</h3>
                                <textarea placeholder="문의 내용을 입력해주세요. (최소 10자 이상)"></textarea>
                            </article>
                            
                            <ul class="contact-5">
                                <li>한 번 등록한 문의 내용은 수정이 불가능합니다.</li>
                                <li>접수된 내용은 빠른 시간 내에 답변을 드리도록 하겠습니다.</li>
                            </ul>
                            <article class="contact-6">
                                <button class="white-button button">취소</button>
                                <button class="sky-button button">등록</button>
                            </article>
                        </li>
                    </ul>
                </div>
            </section>
<!-- footer -->
<footer th:replace="~{fragment/footer :: footer}"></footer>
        </main>
    </div>
</body>
</html>