<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragment/head :: head}"></head>
<head>
    <link rel="stylesheet" href="/static/css/temporary_donate.css">
</head>

<body>
    <div class="containel">
        <main>
        <!-- header -->
<header th:replace="~{fragment/header :: header}"></header>
        <!-- header-bot -->
            <div class="header-bot">
                <div class="header-bot-auto">
                    <div class="header-bot-title">
                        <h1>일시후원</h1>
                        <strong>for every child, a donation</strong>
                    </div>
                    <img src="/static/images/header/pattern.png" alt="title">
                </div>
            </div>
        <!-- temporary_donate - 일시후원 -->
            <div class="donate">
                <!-- temporary_donate 상단부분-->
                <div class="temporary-donate-wrap">
                    <section class="temporary-donate">
                        <header class="temporary-donate-header">
                            <h2 class="temporary-donate-title">
                                <span>
                                    어린이를 위한 나눔의 첫 걸음
                                </span>
                            </h2>
                        </header>
                        <!-- donate 리스트 -->
                        <div class="donate-list-wrap">
                            <!-- donate-list-1 -->
                            <div class="donate-list-1">
                                <div class="donate-list-img">
                                    <img src="/static/images/donate/donate_list_img1.png" alt="후원관련 이미지">
                                </div>
                                <div class="donate-list-description">
                                    <div class="list-title">
                                        <span>
                                            세계 어린이 돕기
                                        </span>
                                        <p>
                                            한 번의 후원도 도움이 시급한 전 세계 어린이를<br>
                                            즉각적으로 지원한다는 점에서 아주 소중합니다. 
                                        </p>
                                    </div>
                                    <div class="donate-button">
                                        <button class="button yellow-button" type="button" color="yellow">
                                            후원하기
                                            <div></div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- donate-list-2 -->
                            <div class="donate-list-2">
                                <div class="donate-list-img">
                                    <img src="/static/images/donate/donate_list_img2.png" alt="후원관련 이미지">
                                </div>
                                <div class="donate-list-description">
                                    <div class="list-title">
                                        <span>
                                            기념 기부
                                        </span>
                                        <p>
                                            살면서 누구나 맞이하는 수많은 특별한 날<br>
                                            유니세프와 함께 더 특별하고 따뜻하게 만들어 보세요.
                                        </p>
                                    </div>
                                    <div class="donate-button">
                                        <button class="button yellow-button" type="button" color="yellow">
                                            후원하기
                                            <div></div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- donate-list-3 -->
                            <div class="donate-list-2">
                                <div class="donate-list-img">
                                    <img src="/static/images/donate/donate_list_img3.png" alt="후원관련 이미지">
                                </div>
                                <div class="donate-list-description">
                                    <div class="list-title">
                                        <span>
                                            정기후원
                                        </span>
                                        <p>
                                            같은 금액이라도 매월 일정 금액을 꾸준히 후원한다면<br>
                                            어린이에게 안정적으로 더 큰 도움을 줄 수 있습니다.
                                        </p>
                                    </div>
                                    <div class="donate-button">
                                        <button class="button yellow-button" type="button" color="yellow">
                                            후원하기
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- 활동 지역 sub-main 부분 -->
                <div class="activity-container-1">
                    <section class="activity-2">
                       
                    </section>
                    <section class="activity-2">
                      
        
                     </section>
                     <section class="activity-2">
                       
                     </section>
                </div>    
            </div>
        <!-- footer -->
<footer th:replace="~{fragment/footer :: footer}"></footer>
        </main>
    </div>
    <script src="/static/js/header.js"></script>
</body>
</html>