<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <footer th:fragment="footer">
        <!-- footer -->
        <div class="main-footer">
            <ul>
                <li class="main-footer-left">
                    <ul>
                        <li><a href="#">이용약관</a></li>
                        <li><a href="#">개인정보 처리방침</a></li>
                        <li><a href="#">오시는 길</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">사이트맵</a></li>
                        <li>후원문의 02.737.1004</li>
                    </ul>
                    <div>
                        사단법인 유니세프한국위원회　대표자: 정갑영　고유번호: 102-82-07606[04099]　서울시 마포구 서강로 60(창전동)
                    </div>
                    <div>
                        COPYRIGHT @ THE KOREAN COMMITTEE FOR UNICEF. ALL RIGHT RESERVED
                    </div>
                </li>
                <li class="main-footer-right">
                    <ul>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>