/* 매달 어린이를 위한 약속 */

.main-banner{
    max-width: 1200px;
    min-width: 1000px;
    margin: 0 auto;
    height: 200px;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
}

/* main-content *//* main-content *//* main-content *//* main-content */
.main-content{
    width: 100%; height: 900px;
}

.main-banner > h1{
    margin-top: 100px;
    font-size: 48px;
}

.main-contents{
    max-width: 1200px;
    min-width: 1000px;
    margin: 0 auto;
    height: 200px;
    padding: 0px 30px;
    justify-content: space-between;
}

.main-contents > h1{
    font-size: 15px;
    font-weight: 400;
}

.pledge-oneofflist{
    margin-left: -16px;
    margin-right: -16px;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    max-width: 1200px;
    min-width: 1000px;
    margin: 0 auto;
    padding: 0px 20px;
    justify-content: space-between;
}

.pledge-oneofflist > li{
    width: 33.33%;
    padding: 0px 16px;
}


.pledge-oneoffitem{
    border: 1px solid rgb(229, 230, 232);
    background: rgb(255, 255, 255);
    padding: 24px 24px 128px;
    position: relative;
    width: 100%;
    height: 100%;
}

.pledge-oneoffthumb > img{
    max-width: 100%;
}

.world-children, .refugee-children, .ukraine-children{
    display: inline-block;
    line-height: 1.56;
    letter-spacing: -0.8px;
    color: rgb(28, 171, 226);
    font-size: 20px;
    font-weight: 700 !important;
}

.world-children-text, .refugee-children-text, .ukraine-children-text{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 15px;
    font-weight: 400;
}

.pledge-buttoncontainer{
    position: absolute;
    left: 24px;
    right: 24px;
    bottom: 32px;
}

button:not(:disabled){
    cursor: pointer;
}

/* 유니세프 어린이 정기후원자가 되면 */

.section-sub{
    width: 100%;
    position: relative;
    padding: 120px 0px;
    display: block;
}

.container-become{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
}

.section-sub-header{
    padding-bottom: 96px;
    display: block;
}

.section-sub-header-title{
    display: inline-block;
    line-height: 1.56;
    letter-spacing: -0.8px;
    font-size: 48px;
    font-weight: 700 !important;
}

.pledge-pledgebenefit{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.col-img{
    width: 448px;
    display: block;
}

.pledge-benefitImageObject{
    position: relative;
    width: 100%;
    padding-top: 125%;
    height: 0px;
    display: block;
}

:root {
    --swiper-theme-color: #007aff;
}

.pledge-benefitImageObject::before{
    content: "";
    display: block;
    width: 100%;
    padding-top: 125%;
    background: rgb(226, 240, 246);
    position: absolute;
    left: -64px;
    top: 74px;
    transform: rotate(-3deg);
    z-index: -1;
}

::before{
    box-sizing: border-box;
}

.pledge-img-box{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(/static/images/regular/img_pledge_benefit-5a93c8ca6c40e01469f2738f3f50a97a.png);
}

.pledge-benefitList{
    width: 480px;
    list-style: none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.pledge-benefitItem, .pledge-benefitItem-first{
    background: rgb(248, 249, 250);
    border-radius: 40px;
    font-weight: bold;
    padding: 12px;
    text-align: center;
    list-style: none;
    display: list-item;
}

.pledge-benefitItem{
    margin-top: 20px;
}

.anchorText{
    text-decoration: none;
    vertical-align: baseline;
    color: rgb(28, 171, 226);
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: -0.8px;
}

button:not(:disabled){
    cursor: pointer;
}

button{
    background: transparent;
    border: none;
}

/* 하지만 여전히 도움이 필요한 어린이가 많습니다 */

.pledge-sectionSlide{
    width: 100%;
    position: relative;
    padding: 120px 0px;
    display: block;
}

.container-sectionSlide{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
}

.section-header{
    padding-bottom: 96px;
    display: block;
}

.title-sectionSlide{
    display: inline-block;
    line-height: 1.56;
    letter-spacing: -0.8px;
    font-size: 48px;
    font-weight: 700 !important;
}

.swiper-basic{
    padding: 0px;
    position: relative;
    width: 100%;
    display: block;
}

.swiper-container{
    padding-bottom: 0;
    overflow: visible;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    list-style: none;
    padding: 0px;
    z-index: 1;
    touch-action: pan-y;
    display: block;
}

.swiper-button-prev.swiper-button-disabled{
    margin-right: -430px;
    z-index: 2;
    bottom: 48px;
    right: 50%;
    left: inherit;
    width: 56px;
    height: 56px;
    box-shadow: rgb(0 0 0 / 20%) 5px 5px 10px 0px;
    border-radius: 100%;
    background: rgb(255, 255, 255);
    position: absolute;
    top: inherit;
    cursor: pointer;
    display: block;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwBAMAAAClLOS0AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAASUExURUdwTDg3Jy0pJy4qJy4rJy0pJruFN0kAAAAFdFJOUwAPxuCoiVkkIwAAAExJREFUOMtjYBgF1AaMAjgkhBVxaDANwq6FJTQUuxZG1VAcWoToryUUFSC0oEkgtBArgd12XO7F6Vzaa8AdUbiilhFXYsCdfEYBAwMAGeAjUrR1MSoAAAAASUVORK5CYII=
    ) center center / cover no-repeat;
}

.swiper-button-next{
    margin-right: -510px;
    z-index: 2;
    bottom: 48px;
    right: 50%;
    width: 56px;
    height: 56px;
    box-shadow: rgb(0 0 0 / 20%) 5px 5px 10px 0px;
    border-radius: 100%;
    background: rgb(255, 255, 255);
    position: absolute;
    top: inherit;
    cursor: pointer;
    display: block;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwBAMAAAClLOS0AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAASUExURUdwTDg3Jy0pJy4qJy4rJy0pJruFN0kAAAAFdFJOUwAPxuCoiVkkIwAAAExJREFUOMtjYBgF1AaMAjgkhBVxaDANwq6FJTQUuxZG1VAcWoToryUUFSC0oEkgtBArgd12XO7F6Vzaa8AdUbiilhFXYsCdfEYBAwMAGeAjUrR1MSoAAAAASUVORK5CYII=
    ) center center / cover no-repeat;
}

.next::after{
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwBAMAAAClLOS0AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAASUExURUdwTDg3Jy0pJy4qJy4rJy0pJruFN0kAAAAFdFJOUwAPxuCoiVkkIwAAAExJREFUOMtjYBgF1AaMAjgkhBVxaDANwq6FJTQUuxZG1VAcWoToryUUFSC0oEkgtBArgd12XO7F6Vzaa8AdUbiilhFXYsCdfEYBAwMAGeAjUrR1MSoAAAAASUVORK5CYII=
    ) center center / cover no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.swiper-wrapper{
    transition-duration: 0ms;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    transform: translateZ(0);
}

.swiper-slide:first-child{
    margin-left: calc((100% - 1120px) / 2);
}

.swiper-slide.swiper-slide-active{
    opacity: 1 !important;
    pointer-events: auto;
}

.swiper-slide{
    padding-bottom: 214px;
    flex-shrink: 0;
    height: 100%;
    position: relative;
    display: block;
}

.styledImg{
    width: 100%;
    color: rgb(45, 31, 38);
    vertical-align: middle;
    border: 0px;
    max-width: 100%;
    pointer-events: auto;
}

.container-qa{
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, 0px);
    text-align: right;
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
}

.pledge-children{
    background: rgb(248, 249, 250);
    padding: 72px 96px 118px;
    width: 100%;
    max-width: 640px;
    display: inline-block;
    font-weight: bold;
    text-align: left;
}

.pledge-percent{
    display: block;
    font-size: 48px;
    color: rgb(28, 171, 226);
    margin-top: 24px;
    font-weight: bold;
}

/* 어린이는 정기후원을 통해 어떤 도움을 받나요? */

.section-sc-ln{
    width: 100%;
    position: relative;
    padding: 120px 0px;
    display: block;
}

.container-qaj{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
}

.sectionheader{
    padding-bottom: 96px;
    display: block;
}

.titles{
    display: inline-block;
    line-height: 1.56;
    letter-spacing: -0.8px;
    font-size: 48px;
    font-weight: 700 !important;
}

.pledge-tab{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 48px;
}

.col-left{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.maintab-button{
    background: transparent;
    border-radius: 0px;
    line-height: 1.1;
    height: auto;
    padding: 0px;
    display: inline-block;
    margin-right: 16px;
    color: rgb(45, 41, 38);
    font-size: 20px;
    border: none;
    font-weight: bold;
    letter-spacing: -1.2px;
    transition: all 0.2s ease 0s;
    text-decoration: none;
    vertical-align: middle;
}

dd{
    margin-inline-start: 40px;
}

.pledgetab{
    background: rgb(255, 255, 255);
    display: inline-flex;
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.pledgetab-productlist{
    margin-right: 16px;
    white-space: nowrap;
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;
}

button:not(:disabled){
    cursor: pointer;
}

.maintab-button-sc{
    color: rgb(255, 255, 255);
    background: rgb(28, 171, 226);
    font-size: 20px;
    border-radius: 28px;
    height: 56px;
    padding: 0px 24px;
    border: none;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: -1.2px;
    transition: all 0.2s ease 0s;
    text-decoration: none;
    vertical-align: middle;
}

.button-sc{
    font-size: 20px;
    padding: 12px 20px;
    box-sizing: border-box;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    position: relative;
    overflow: hidden;
    color: rgb(45, 41, 38);
    background-color: rgb(255, 220, 14);
    border-color: rgb(255, 220, 14);
    background: transparent;
    border: none;
    text-decoration: none;
    vertical-align: middle;
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
}

.ripple-container{
    position: absolute;
    inset: 0px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: rgb(45, 31, 38);
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
}

.pledgetab-categorybutton-container{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 94px;
}

.button-sc-1h{
    width: 136px;
    height: 136px;
    border: 1px solid rgb(28, 171, 226);
    text-align: center;
    line-height: normal;
    background: rgb(28, 171, 226);
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 12px 20px;
    box-sizing: border-box;
    font-weight: bold;
    transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    vertical-align: middle;
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    align-items: flex-start;
}

.ripple-container-sc{
    position: absolute;
    inset: 0px;
    display: block;
    text-align: center;
    line-height: normal;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
}

.pic{
    width: 69px;
    height: 69px;
}

.pledgetab-contentscontainer{
    position: relative;
    display: block;
}

.pledgetab-interviewcontainer{
    display: block;
}

.pledgetab-interview-wrap{
    padding-left: 40%;
    padding-top: 80%;
    position: relative;
    z-index: 1;
    display: block;
}

.pledgetab-interview-image{
    width: 40%;
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
}

.pledgetab-interviewtext{
    width: 100%;
    padding-top: 80px;
    padding-left: 128px;
    padding-bottom: 76px;
    z-index: 1;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.titles-tit-sc{
    line-height: 1.56;
    letter-spacing: -0.8px;
    display: inline-block;
    font-size: 24px;
    font-weight: 700 !important;
}

.pledgetab-interviewee{
    display: block;
    margin-top: 8px;
    font-weight: normal;
    line-height: 2;
    letter-spacing: -0.8px;
}



.pledgetab-giftcontainer{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 40%;
    position: relative;
}

.pledgetab-giftlist{
    padding: 76px 0px 85px 128px;
    list-style: none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.pledgetab-giftitem{
    position: relative;
    padding-left: 16px;
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;
}

.title-tit-sc{
    display: inline-block;
    line-height: 1.56;
    letter-spacing: -0.8px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700 !important;
}

.img{
    width: 448px;
    height: 548px;
}