.admin-content{
    position: relative;
}


.admin-content-bot .userlist {
    width: 1200px;
    padding: 0px 30px;
    margin: 70px auto;
}

/* 회원검색 search *//* 회원검색 search */
.userlist .search{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 24px;
    padding: 0px 12px;
}

.userlist .search >p{
    line-height: 60px;
    font-size: 40px;
    font-weight: 700;
    position: absolute; left: 0px;
}

.userlist .search .search-wrap{
    position: relative;
    padding-right: 56px
}

.userlist .search .search-input{
    display: block;
    width: 100%;
    height: 60px;
    padding: 0px 16px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(229, 230, 232);
    font-size: 16px;
}

.userlist .search .search-button{
    position: absolute;
    right: 0px;
    top: 0px;
    display: block;
    width: 56px;
    height: 60px;
    border: none;
    background: rgb(28, 171, 226) url(/static/images/faq/search.png) no-repeat center center;
    background-size: 24px;
}

.userlist .search .all-btn > button{
    width: 120px;
    font-size: 18px;
    margin-left: 10px;
}

/* 회원목록 userdata *//* 회원목록 userdata *//* 회원목록 userdata */
.userlist .userdata{
    width: 100%;
    margin: 30px 0px;
}

.userlist .userdata ul{
    width: 100%;
}

/* 전체 사용자 userdata-total*//* 전체 사용자 userdata-total*/
.userlist .userdata-total{
    font-size: 16px;
    padding: 10px 0px;
}

.userlist .userdata-total{
    text-align: right;
    width: 100%;
    /* display: flex; */
    /* justify-content: space-between; */
}

.userlist .userdata-total span{
    color: rgb(28, 171, 226);
}

.userlist .userdata-total article{
    display: flex;    
}

.userlist .userdata-total article > div{
    width: 25px; height: 25px;
    line-height: 25px;
    text-align: center;
    color: rgb(130, 131, 133);
    border: 1px solid rgb(200,200,200);
    cursor: pointer;
}

/* 페이지 색상 활성화 */
#page-active{    
    border-color:rgb(28, 171, 226);
}

/* 타이틀 ~ 회원정보 */
.userlist .userdata li > ul i{
    cursor: pointer;
}

.userlist .userdata li > ul{
    display: flex;    
    text-align: right;
    border-bottom: 1px solid rgb(200,200,200);
}

.userlist .userdata li > ul > li{
    height: 60px;
    line-height: 60px;
    padding: 0px 15px;
    text-align: center;
}

/* 회원목록 타이틀 */
.userlist .userdata .userdata-title > ul > li{
    font-size: 16px;
    color: #828385;
    background-color: #F8F9FA;
    border-top: 1px solid rgb(200,200,200);
}

/* 회원목록 표 비율 *//* 회원목록 표 비율 */
/* 아이디 */
.userlist .userdata li > ul > li:nth-child(1){
    width: 10%;
}

/* 후원자 */
.userlist .userdata li > ul > li:nth-child(2){
    width: 10%;
    background-color:  #F8F9FA;
}

/* 휴대폰번호 */
.userlist .userdata li > ul > li:nth-child(3){
    width: 13%;
}

/* 이메일 */
.userlist .userdata li > ul > li:nth-child(4){
    width: 19%;
    background-color:  #F8F9FA;
}

/* 가입일 */
.userlist .userdata li > ul > li:nth-child(5){
    width: 13%;
}

/* 문의/후원 */
.userlist .userdata li > ul > li:nth-child(6){
    width: 10%;
    background-color:  #F8F9FA;
}

/* 누적후원금 */
.userlist .userdata li > ul > li:nth-child(7){
    width: 10%;
}

/* 상세 */
.userlist .userdata li > ul > li:nth-child(8){
    width: 7%;
    background-color:#F8F9FA;
}

/* 삭제 */
.userlist .userdata li > ul > li:nth-child(9){
    width: 8%;
}


/* 후원상세 팝업 mydata *//* 회원목록 mydata *//* 회원목록 mydata */
.mydata{
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,10%);
    z-index: 100;
    position: fixed;
    top: 0px; left: 0px;
}

.mydata > ul{
    width: 1200px; max-height: 70vh;
    overflow-y: auto;
    padding: 50px;
    background-color: white;
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

/* 전체 사용자 mydata-total*//* 전체 사용자 mydata-total*/
.mydata-total{
    font-size: 16px;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
}

.mydata-total span{
    color: rgb(28, 171, 226);
}

/* 타이틀 ~ 회원정보 */
.mydata li > ul i{
    cursor: pointer;
}

.mydata li > ul{
    display: flex;    
    text-align: right;
    border-bottom: 1px solid rgb(200,200,200);
}

.mydata li > ul > li{
    height: 60px;
    line-height: 60px;
    padding: 0px 15px;
    text-align: center;
}

/* 회원목록 타이틀 */
.mydata .mydata-title > ul > li{
    font-size: 16px;
    color: #828385;
    background-color: #F8F9FA;
    border-top: 1px solid rgb(200,200,200);
}

.mydata .mydata-list > ul > p{
    font-size: 20px;
    width: 100%;
    padding: 50px 0px;
    text-align: center;
}

/* 후원정보 표 *//* 후원정보 표 */
/* 후원일시 */
.mydata li > ul > li:nth-child(1){
    width: 20%;
}

/* 후원분야 */
.mydata li > ul > li:nth-child(2){
    width: 20%;
    background-color:  #F8F9FA;
}

/* 후원종류 */
.mydata li > ul > li:nth-child(3){
    width: 20%;
}

/* 후원금 */
.mydata li > ul > li:nth-child(4){
    width: 20%;
    background-color:  #F8F9FA;
}

/* 후원취소 */
.mydata li > ul > li:nth-child(5){
    width: 20%;
}
