.container-userlist{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    margin-top: 100px;
}

.section-header{
    padding-bottom: 96px;
    display: block;
}

.userlist{
    display: inline-block;
    line-height: 1.56;
    letter-spacing: -0.8px;
    font-size: 48px;
    font-weight: 700 !important;
}

.tbl-wrap{
    overflow-x: auto;
}

.user-info{
    min-width: 470px;
    margin-bottom: 64px;
    border-bottom: 1px solid rgb(45, 41, 38);
    width: 100%;
    border-spacing: 0px;
    table-layout: fixed;
    display: table;
    text-indent: initial;
    border-color: grey;
    margin-top: 32px;
    border-top: 3px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(221, 221, 221);
    border-collapse: initial;
}

colgroup, col{
    display: table-column-group;
}

thead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

table tr:last-child{
    border-bottom-color: rgb(0, 0, 0);
}

tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th{
    padding: 12px 7px;
    height: 60px;
    border-bottom: none;
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
}

table th{
    line-height: 1.7;
    border-right: 1px solid rgb(221, 221, 221);
    text-align: center;
}

tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tbody td{
    text-align: left;
    border-bottom: none;
    border-bottom: 1px solid rgb(221, 221, 221) !important;
}

td{
    padding: 12px 7px;
    height: 60px;
    display: table-cell;
    vertical-align: inherit;
}

table td{
    line-height: 1.7;
    border-color: rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
}

.board-boardsearch{
    width: 100%;
    max-width: 528px;
    display: flex;
    font-size: 0px;
    margin-right: auto;
    text-align: right;
}

.label-wrap{
    width: calc(100% - 176px);
    position: relative;
    padding-right: 56px;
    display: block;
}

.input-text{
    display: block;
    width: 100%;
    height: 56px;
    padding: 0px 16px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(229, 230, 232);
    font-size: 16px;
}

input{
    outline: 0px;
    color: rgb(45, 41, 38);
    vertical-align: middle;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
}

.label-wrap button{
    position: absolute;
    right: 0px;
    top: 0px;
    display: block;
    width: 56px;
    height: 56px;
    border: none;
    background-color: rgb(28, 171, 226);
    background-image: url(/static/images/admin/search.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px;
    cursor: pointer;
}

.col-btn{
    width: 176px;
    padding-left: 16px;
    display: block;
}

.col-btn button{
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 20px;
}