
/* .mypage-content *//* .mypage-content *//* .mypage-content *//* .mypage-content */
.mypage-content{
    width: 100%;
    min-width: 1200px;
}

/* mypage-content-top *//* mypage-content-top */
.mypage-content-top{
    width: 100%; height: 80px;
    border-bottom:2px solid rgb(200,200,200);
}

.mypage-content-top ul{
    min-width: 1200px;
    max-width: 1200px;
    height: 80px;
    margin: 0 auto;
    padding: 0px 30px;
    display: flex;
}

.mypage-content-top li{
    width: 25%;
    text-align: center;
}

.mypage-content-top a{
    display: block;
    font-size: 20px;
    color: #B7B8BA;
    line-height: 78px;
    font-weight: 600;
}

.mypage-content-top a.active{
    color: #1CABE2;
    border-bottom: 3px solid #1CABE2;
}

/* mypage-content-bot *//* mypage-content-bot */
.mypage-content-bot{
    width: 100%;
}

.mypage-content-bot > ul{
    min-width: 1200px;
    margin: 0 auto;
    padding: 96px 30px 240px 30px;
    display: flex;
}

.mypage-content-bot > ul > li{
    width: 100%;
}
