
/* .mypage-content *//* .mypage-content *//* .mypage-content *//* .mypage-content */
.mypage-content{
    width: 100%;
    min-width: 1200px;
}

/* mypage-content-top *//* mypage-content-top */
.mypage-content-top{
    width: 100%; height: 80px;
    border-bottom:2px solid rgb(200,200,200);
}

.mypage-content-top ul{
    min-width: 1200px;
    height: 80px;
    margin: 0 auto;
    padding: 0px 30px;
    display: flex;
}

.mypage-content-top li{
    width: 25%;
    text-align: center;
}

.mypage-content-top a{
    display: block;
    font-size: 20px;
    color: #B7B8BA;
    line-height: 78px;
    font-weight: 600;
}

.mypage-content-top a.active{
    color: #1CABE2;
    border-bottom: 3px solid #1CABE2;
}

/* mypage-content-bot *//* mypage-content-bot */
.mypage-content-bot{
    width: 100%;
}

.mypage-content-bot > ul{
    min-width: 1200px;
    margin: 0 auto;
    padding: 96px 30px 240px 30px;
    display: flex;
}

.mypage-content-bot > ul > li{
    width: 100%;
}

/* privacy_개인정보 */
.mypage-content-bot .privacy{
    width: 600px; height: 450px;
    margin: 0 auto;
}

.mypage-content-bot .privacy > h3:nth-child(1){
    font-size: 24px;
    margin-bottom: 96px;
}

.mypage-content-bot .privacy > h3:nth-child(2){
    font-size: 20px;
    margin-bottom: 96px;
}

.mypage-content-bot .privacy label{
    display: block;
    margin-bottom: 5px;
}

.mypage-content-bot .privacy input{
    width: 100%;
    padding: 16px;
    margin-bottom: 24px;
    font-size: 16px;   
}

/* support_후원 및 결제정보 */
.mypage-content-bot .support{
    width: 1000px;
    margin: 0 auto;
}

.mypage-content-bot .support article h2{
    font-size: 32px;
    margin-bottom: 32px;
}

.mypage-content-bot .support article p{
    font-size: 16px;    
    margin-bottom: 20px;
}

.mypage-content-bot .support article div{
    text-align: center;
    font-size: 20px;
    padding: 96px 16px;
    border-top: 2px solid #1CABE2;
    border-bottom: 2px solid rgb(200,200,200);
}

.mypage-content-bot .support img{
    width: 100%;
    margin: 50px 0px;
}

/* receipt_기부금 영수증 */
.mypage-content-bot .receipt{
    width: 1000px;
    margin: 0 auto;
}

/* receipt1 */
.mypage-content-bot .receipt .receipt_1{
    width: 100%;
    background-color: #F8F9FA;
    padding: 16px 24px;
}

.mypage-content-bot .receipt .receipt_1 strong{
    display: inline-block;
    font-size: 20px;
    margin-bottom: 8px;
}

.mypage-content-bot .receipt .receipt_1 li{ 
    position: relative;
    padding-left: 15px;
    font-weight: 300;
}

.mypage-content-bot .receipt .receipt_1 li::after{ 
    content: "";
    display: block;
    width: 3px;
    height: 3px;
    background: rgb(28, 171, 226);
    border-radius: 100%;
    position: absolute;
    left: 0px;
    top: 10px;
}

/* receipt2 */
.mypage-content-bot .receipt .receipt_2{
    text-align: center;
    padding: 96px 0px;
    margin: 100px 0px;
    border-top: 0.3px solid rgb(200,200,200);
    border-bottom: 0.3px solid rgb(200,200,200);
}

.mypage-content-bot .receipt .receipt_2 h3{
    font-size: 20px;
}

/* receipt3 */
.mypage-content-bot .receipt .receipt_3 strong{
    font-size: 24px;
    color: #1CABE2;
}

.mypage-content-bot .receipt .receipt_3 p{
    font-size: 16px;
    padding-top: 30px;
}

/* contact_1:1문의 */
.mypage-content-bot .contact{
    width: 1100px;
    margin: 0 auto;
}

.mypage-content-bot .contact::after{
    position: absolute;
    left: 0px; top: 430px;
    content: "";
    display: block;
    width: 100%;
    min-width: 1200px;
    height: 440px;
    background: rgb(226, 240, 246);
    z-index: -10;
}

/* contact1 */
.mypage-content-bot .contact .contact_1{ 
    width: 100%;
    background-color: #F8F9FA;
    padding: 16px 24px;
}

.mypage-content-bot .contact .contact_1 li{ 
    position: relative;
    padding-left: 15px;
    font-weight: 300;
}

.mypage-content-bot .contact .contact_1 li::after{ 
    content: "";
    display: block;
    width: 3px;
    height: 3px;
    background: rgb(28, 171, 226);
    border-radius: 100%;
    position: absolute; left: 0px; top: 10px;
    z-index: -10;
}

/* contact2 */
.mypage-content-bot .contact .contact_2{ 
    margin-top: 48px;
    text-align: right;
    color: #828385;
}

.mypage-content-bot .contact .contact_2 a{ 
    color: #1CABE2;
    padding-left: 8px;
    text-decoration: underline;
}

/* contact3 */
.mypage-content-bot .contact .contact_3{ 
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0px;
}

.mypage-content-bot .contact .contact_3 li{ 
    display: block;
    width: 343.5px;
    height: 300px;
    margin: 0px 32px 50px 0px;
    background-color: rgb(255, 255, 255);
}


.mypage-content-bot .contact .contact_3 li:nth-child(3), .mypage-content-bot .contact .contact_3 li:nth-child(6){ 
    margin-right: 0px;
}

.mypage-content-bot .contact .contact_3 li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 320px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #1CABE2;
    border-radius: 0px 0px 60px;
    box-shadow: rgb(0 0 0 / 8%) 3px 10px 28px 0px;
}

.mypage-content-bot .contact .contact_3 a:hover{ 
    border: 5px solid #1CABE2;
}

.mypage-content-bot .contact .contact_3 img{
    width: 80px; height: 80px;
}

.mypage-content-bot .contact .contact_3 h3{
    line-height: 1.75;
    margin-top: 24px;
}

/* contact4 */
.mypage-content-bot .contact .contact_4{ 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.mypage-content-bot .contact .contact_4 button{ 
    width: 160px;
}

.mypage-content-bot .contact .contact_4 div{ 
    width: 100%;
    text-align: center;
    padding: 96px 0px;
    margin-top: 50px;
    border-top: 0.3px solid rgb(200,200,200);
    border-bottom: 0.3px solid rgb(200,200,200);
}

/* contact5 */
.mypage-content-bot .contact .contact_5{ 
    margin-top: 240px;
    padding: 0px 20px;
}

.mypage-content-bot .contact .contact_5 h3{
    font-size: 24px;
    color: #1CABE2;
    margin-bottom: 40px;
}

.mypage-content-bot .contact .contact_5 p{
    font-size: 16px;
    margin-bottom: 70px;
}

.mypage-content-bot .contact .contact_5 table{
    width: 100%;
}

.mypage-content-bot .contact .contact_5 table th{
    position: relative;
    width: 33%;
    padding: 0px 0px 14px 14px;
}

.mypage-content-bot .contact .contact_5 table th::after{ 
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background: rgb(28, 171, 226);
    border-radius: 100%;
    position: absolute; left: 0px; top: 7.5px;
    z-index: -10;
}

.mypage-content-bot .contact .contact_5 table td{
    padding-left: 14px;
}

.mypage-content-bot .contact .contact_5 table a{
    color: rgb(28, 171, 226);
    text-decoration: underline;
}

