/* reset.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.9em;
    font-weight: 500;
    color: #2D2926;
}

.container{
    min-width: 1000px;
    width: 100%;
}

img{
    border:0;
}

ul, ol, li{
    list-style:none;
}

a:link{
    text-decoration: none;
    color: #2D2926;
}

/* 숨김 기능 */
.invisible{
    display: none;
}

a:visited{ /*눌렀다가 뗐을 때*/
    color: #2D2926;
}

a:hover{ /*마우스를 올렸을 때*/
    color: rgb(28, 171, 226);
}

a:active{ /*눌렀을 때*/
    color: rgb(28, 171, 226);
}

input, textarea{
    padding: 0px 10px;
    border: 0.3px solid rgb(150, 150, 150);
}

input:focus, textarea:focus{
    outline: none;
    border: 0.3px solid rgb(28, 171, 226);
}
input::placeholder {
    color: rgb(190, 190, 190);
    font-weight: 500;
}

textarea::placeholder {
    color: rgb(190, 190, 190);
    font-weight: 500;
}

/* 버튼 */

.button{
    cursor: pointer;
    width: 100%; height: 60px;
    font-size: 20px;
    font-weight: 800;
    border: none;
    color: rgb(45, 41, 38);
    background-color: rgb(28, 171, 226);
}

.yellow-button{
    color: rgb(45, 41, 38);
    background-color: rgb(255, 220, 14);
}

.white-button{
    border: 1px solid rgb(28,171,226);
    color: rgb(28, 171, 226);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(28, 171, 226);
}

.sky-button{
    color: rgb(255, 255, 255);
    background-color: rgb(28, 171, 226);
}

.gray-button{
    border: 1px solid rgb(130, 131, 133);
    color:rgb(130, 131, 133);
    background-color: rgb(255, 255, 255);
}

.yellow-button:hover{
    background-color: rgb(255, 191, 14);
}

.white-button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(28, 171, 226);
}

.sky-button:hover{
    background-color: rgb(28, 120, 226);
}

.gray-button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(130, 131, 133);
}

/* 글자색상 */
.font-color{
    color: rgb(28, 171, 226);
}

/* float 속성 */
.clearfix::after{
    display: block; 
    content: ''; 
    clear: both;
}

/* 체크박스 *//*input 은 숨겨주기*/
input#chk_box{
    display:none;
}

/*input 바로 다음의 label:before 에 체크하기 전 CSS 설정*/
input#chk_box + span:before{
    content:"";
    display:inline-block;
    border:1px solid #cbcbcb;
    vertical-align: middle;/*체크 전과 체크 후 높이 차이 때문에 설정*/
    width:20px; height:20px; 
    line-height:20px;
    margin-right: 5px;
    margin-bottom: 2.5px;
}

/*checked된 input 바로 다음의 label:before 에 체크 후 CSS 설정*/  
input#chk_box:checked + span:before{
    content:"\f00c";/*폰트어썸 유니코드*/
    font-family:"Font Awesome 5 free"; /*폰트어썸 아이콘 사용*/
    font-weight:900;/*폰트어썸 설정*/
    color:rgb(28, 120, 226);
    border-color:rgb(28, 120, 226);
    font-size:13px;
    text-align:center;
}


