<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragment/head :: head}"></head>
<head>
    <link rel="stylesheet" href="/static/css/account/login.css">
</head>
<body>
    <div class="container">
        <main>
<!-- header -->
<header th:replace="~{fragment/header :: header}"></header>
<!-- section -->
            <section class="login">
                <div class="login-container">
                    <div class="login-title-wrap">
                        <h2>유니세프한국위원회를<br>
                            방문해주셔서 감사합니다</h2>
                        <p>로그인을 통해, 나의 후원정보를 확인해보세요.</p>
                    </div>
                    <div class="login-current">
                        <form action="/account/login" method="post">
                            <div class="login-form-group">
                                <input type="text" class="login-input" name="main_username" placeholder="아이디" required>
                                <input type="password" class="login-input" name="user_pw" placeholder="비밀번호" required>
                                <div class="account-errors">
                                    <ul>
                                        <li th:text="${error}"></li>
                                    </ul>
                                </div>
                                <div class="login-save-find">
                                    <label>
                                        <input type="checkbox" id="chk_box">
                                        <span class="id-save">아이디저장</span>
                                    </label>
                                    <a href="/mypage/search">아이디/비밀번호 찾기</a>
                                </div>
                            </div>   
                            <button type="submit" class="button sky-button login-button">로그인</button>
                            
                            <div class="login-form-group">
                                <p>회원이 아니시라면, 지금 회원에 가입하세요.</p>
                                <button type="button" class="button white-button join-button">회원가입</button>
                            </div>
                        </form>
                            <hr>

                            <!-- sns 로그인 -->
                            <!-- <h3>SNS 계정으로 간편 로그인 하기</h3>
                            <div class="sns-login">
                                <div class="sns">
                                    <div class="sns-img naver">
                                        <img src="/static/images/sns/naver.png" alt="네이버">
                                        <p>네이버</p>
                                    </div>
                                </div>
                                <div class="sns">
                                    <div class="sns-img kakao">
                                        <img src="/static/images/sns/kakao.png" alt="카카오">
                                        <p>카카오</p>
                                    </div>
                                </div>
                                <div class="sns">
                                    <div class="sns-img google">
                                        <img src="/static/images/sns/google.png" alt="구글">
                                        <p>구글</p>
                                    </div>
                                </div>
                            </div> -->
                        
                    </div>
                </div>
                
            </section>
<!-- footer -->
<footer th:replace="~{fragment/footer :: footer}"></footer>
        </main>
    </div>
    <script src="/static/js/account/login.js"></script>
</body>
</html>