<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/44bcb903a4.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/account/login.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <title>어린이 정기후원 및 정기기부 단체</title>
</head>
<body>
    <div class="container">
        <main>
<!-- header -->
            <header class="main-header">
                <!-- header-top -->
                <div class="header-top">
                    <ul class="header-top-auto">
                        <li><a href="#">로그인</a></li>
                        <li><a href="#">회원가입</a></li>
                        <li><button>기부금영수증</button></li>
                        <li><a href="#">FAQ</a></li>
                        <li><input type="text"></li>
                    </ul>
                </div>
                <!-- header-mid -->
                <div class="header-mid">
                    <div class="header-mid-auto">                                    
                        <a href="#" class="header-logo">
                            <img src="/static/images/header/logo.png" alt="logo">
                        </a>  
                        <ul class="main-menu">
                            <li>
                                <a href="#">하는일</a>  
                            </li>
                            <li>
                                <a href="#">후원하기</a>
                            </li>
                            <li>
                                <a href="#">참여활동</a> 
                            </li>
                            <li>
                                <a href="/templates/unicef/unicef_introduction.html">유니세프 소개</a>
                            </li>
                        </ul>
                        <input type="button" value="후원하기" class="support-button button yellow-button">
                    </div>
                    <div class="header-midsub invisible">
                        <div class="header-midsub-auto">                                
                            <ul>
                                <li><a href="#">활동지역</a></li>
                                <li><a href="#">스쿨스포아시아</a></li>
                                <li><a href="#">소식</a></li>
                            </ul>                  
                            <ul>
                                <li><a href="#">정기후원</a></li>
                                <li><a href="#">일시후원</a></li>
                                <li><a href="#">생명을 구하는 선물</a></li>
                            </ul>                    
                            <ul>
                                <li><a href="#">후원자이야기</a></li>
                                <li><a href="#">자원봉사</a></li>
                            </ul>                
                            <ul>
                                <li><a href="/templates/unicef/unicef_introduction.html">소개</a></li>
                                <li><a href="#">공지사항</a></li>
                                <li><a href="#">소식</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <script src="/static/js/main_header.js"></script>
            </header>
<!-- section -->
            <section class="login">
                <div class="login-container">
                    <div class="login-title-wrap">
                        <h2>유니세프한국위원회를<br>
                            방문해주셔서 감사합니다</h2>
                        <p>로그인을 통해, 나의 후원정보를 확인해보세요.</p>
                    </div>
                    <div class="login-current">
                        <form action="/account/login" method="post">
                            <div class="login-form-group">
                                <input type="text" class="login-input" name="user-id" placeholder="아이디" required>
                                <input type="password" class="login-input" name="user-pw" placeholder="비밀번호" required>
                                <div class="login-save-find">
                                    <label>
                                        <input type="checkbox" id="chk_box">
                                        <span class="id-save">아이디저장</span>
                                    </label>
                                    <a href="#">아이디/비밀번호 찾기</a>
                                </div>
                            </div>   
                            <button type="button" class="button sky-button login-button">로그인</button>
                            
                            <div class="login-form-group">
                                <p>회원이 아니시라면, 지금 회원에 가입하세요.</p>
                                <button type="button" class="button white-button join-button">회원가입</button>
                            </div>
                        </form>
                            <hr>

                            <!-- sns 로그인 -->
                            <h3>SNS 계정으로 간편 로그인 하기</h3>
                            <div class="sns-login">
                                <div class="sns">
                                    <div class="sns-img naver">
                                        <img src="/static/images/sns/naver.png" alt="네이버">
                                        <p>네이버</p>
                                    </div>
                                </div>
                                <div class="sns">
                                    <div class="sns-img kakao">
                                        <img src="/static/images/sns/kakao.png" alt="카카오">
                                        <p>카카오</p>
                                    </div>
                                </div>
                                <div class="sns">
                                    <div class="sns-img google">
                                        <img src="/static/images/sns/google.png" alt="구글">
                                        <p>구글</p>
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                </div>
                
            </section>
<!-- footer -->
            <footer class="main-footer">
                <ul>
                    <li class="main-footer-left">
                        <ul>
                            <li><a href="#">이용약관</a></li>
                            <li><a href="#">개인정보 처리방침</a></li>
                            <li><a href="#">오시는 길</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">사이트맵</a></li>
                            <li>후원문의 02.737.1004</li>
                        </ul>
                        <div>
                            사단법인 유니세프한국위원회　대표자: 정갑영　고유번호: 102-82-07606[04099]　서울시 마포구 서강로 60(창전동)
                        </div>
                        <div>
                            COPYRIGHT @ THE KOREAN COMMITTEE FOR UNICEF. ALL RIGHT RESERVED
                        </div>
                    </li>
                    <li class="main-footer-right">
                        <ul>
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </footer>
        </main>
    </div>
    <script src="/static/js/header.js"></script>
    <script src="/static/js/account/login.js"></script>
</body>
</html>