<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <title>어린이 정기후원 및 정기기부 단체</title>
</head>
<body>
    <div class="container">
        <main>
            <header class="main-header">
                <ul class="header-top">
                    <li><a href="#">로그인</a></li>
                    <li><a href="#">회원가입</a></li>
                    <li><button>기부금영수증</button></li>
                    <li><a href="#">FAQ</a></li>
                    <li><input type="text"></li>
                </ul>
            </header>
            <section class="main-content">
            </section>
            <footer class="main-footer">
            </footer>
        </main>
    </div>
    <script src="/static/js/order.js"></script>
</body>
</html>