<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <title>어린이 정기후원 및 정기기부 단체</title>
</head>
<body>
    <div class="container">
        <main>
<!-- header -->
            <header class="main-header">
                <!-- header-top -->
                <div class="header-top">
                    <ul class="header-top-auto">
                        <li><a href="#">로그인</a></li>
                        <li><a href="#">회원가입</a></li>
                        <li><button>기부금영수증</button></li>
                        <li><a href="#">FAQ</a></li>
                        <li><input type="text"></li>
                    </ul>
                </div>
                <!-- header-mid -->
                <div class="header-mid">
                    <div class="header-mid-auto">                                    
                        <a href="#" class="header-logo">
                            <img src="/static/images/header/logo.png" alt="logo">
                        </a>  
                        <ul class="main-menu">
                            <li>
                                <a href="#">하는일</a>  
                            </li>
                            <li>
                                <a href="#">후원하기</a>
                            </li>
                            <li>
                                <a href="#">참여활동</a> 
                            </li>
                            <li>
                                <a href="#">유니세프 소개</a>
                            </li>
                        </ul>
                        <input type="button" value="후원하기" class="support-button button yellow-button">
                    </div>
                    <div class="header-midsub invisible">
                        <div class="header-midsub-auto">                                
                            <ul>
                                <li><a href="#">활동지역</a></li>
                                <li><a href="#">스쿨스포아시아</a></li>
                                <li><a href="#">소식</a></li>
                            </ul>                  
                            <ul>
                                <li><a href="#">정기후원</a></li>
                                <li><a href="#">일시후원</a></li>
                                <li><a href="#">생명을 구하는 선물</a></li>
                            </ul>                    
                            <ul>
                                <li><a href="#">후원자이야기</a></li>
                                <li><a href="#">자원봉사</a></li>
                            </ul>                
                            <ul>
                                <li><a href="#">소개</a></li>
                                <li><a href="#">공지사항</a></li>
                                <li><a href="#">소식</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>            
            <!-- header-bot -->
            <div class="header-bot">
                <div class="header-bot-auto">
                    <h1>활동지역</h1>
                    <img src="/static/images/header/pattern.png" alt="">
                </div>
            </div>
<!-- section -->
            <section class="main-content">
                <div class="main-banner">
                </div>
            </section>
            <footer class="main-footer">
            </footer>
        </main>
    </div>
    <script src="/static/js/main_header.js"></script>
</body>
</html>