<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/44bcb903a4.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/mypage.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <title>어린이 정기후원 및 정기기부 단체</title>
</head>
<body>
    <div class="container">
        <main>
<!-- header -->
            <header class="main-header">
                <!-- header-top -->
                <div class="header-top clearfix">
                    <ul class="header-top-auto">
                        <li><a href="#">로그인</a></li>
                        <li><a href="#">회원가입</a></li>
                        <li><button>기부금영수증</button></li>
                        <li><a href="#">FAQ</a></li>
                        <li><input type="text"></li>
                    </ul>
                </div>
                <!-- header-mid -->
                <div class="header-mid">
                    <div class="header-mid-auto clearfix">                                    
                        <a href="#" class="header-logo">
                            <img src="/static/images/header/logo.png" alt="logo">
                        </a>  
                        <ul class="main-menu">
                            <li>
                                <a href="#">하는일</a>  
                            </li>
                            <li>
                                <a href="#">후원하기</a>
                            </li>
                            <li>
                                <a href="#">참여활동</a> 
                            </li>
                            <li>
                                <a href="/templates/unicef/unicef_introduction.html">유니세프 소개</a>
                            </li>
                        </ul>
                        <input type="button" value="후원하기" class="support-button button yellow-button">
                    </div>
                    <div class="header-midsub invisible">
                        <div class="header-midsub-auto">                                
                            <ul>
                                <li><a href="#">활동지역</a></li>
                                <li><a href="#">스쿨스포아시아</a></li>
                                <li><a href="#">소식</a></li>
                            </ul>                  
                            <ul>
                                <li><a href="#">정기후원</a></li>
                                <li><a href="#">일시후원</a></li>
                                <li><a href="#">생명을 구하는 선물</a></li>
                            </ul>                    
                            <ul>
                                <li><a href="#">후원자이야기</a></li>
                                <li><a href="#">자원봉사</a></li>
                            </ul>                
                            <ul>
                                <li><a href="/templates/unicef/unicef_introduction.html">소개</a></li>
                                <li><a href="#">공지사항</a></li>
                                <li><a href="#">소식</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>            
            <!-- header-bot -->
            <div class="header-bot">
                <div class="header-bot-auto">
                    <div class="header-bot-title">
                        <h1>마이페이지</h1>
                        <strong>for every child, UNICEF</strong>
                    </div>
                    <img src="/static/images/header/pattern.png" alt="title">
                </div>
            </div>
<!-- section -->
            <section class="mypage-content">
                <div class="mypage-content-top">                        
                    <ul>
                        <li><a href="#" class="active">개인정보</a></li>
                        <li><a href="#">후원 및 결제정보</a></li>
                        <li><a href="#">기부금영수증</a></li>
                        <li><a href="#">1:1문의</a></li>
                    </ul>
                </div>
                <div class="mypage-content-bot">                        
                    <ul>
                        <li class="privacy">
                            <h3>아이디 재인증</h3>
                            <h3>
                                개인정보를 안전하게 보호하기 위해 <br>
                                비밀번호를 한번 더 입력해주세요.
                            </h3>
                            <div>
                                <label>비밀번호</label>
                                <input type="text" placeholder="8-16자의 영문 및 숫자, 특수문자를 모두 포함">
                            </div>
                            <button class="sky-button button">확인</button>
                        </li>
                        <li class="support invisible">
                            <article>
                                <h2>정기후원 정보</h2>
                                <p>현재 유니세프에 후원하고 계신 정기후원 정보입니다.</p>
                                <div>
                                    후원내역이 없습니다.
                                </div>
                            </article>
                                <a href="#"><img src="/static/images/mypage/mypage_support.png" alt="mypage_support.png"></a>
                            <article>
                                <h2>결제정보</h2>
                                <p>후원금의 결제정보 변경을 원하시면 [수정]버튼을 눌러주세요.</p>
                                <div>
                                    결제 정보가 없습니다.
                                </div>
                            </article>
                        </li>
                        <li class="receipt invisible">
                            <ul class="receipt_1">
                                <strong>영수증 발급 안내</strong>
                                <li>후원자 본인 명의로만 발급 가능하며, 주민등록번호 13자리가 모두 정확히 등록된 개인 후원자의 경우 국세청 홈택스에서 자동 확인 가능합니다.</li>
                                <li>매년 초 우편으로 보내드리던 연말정산 기부금 영수증이 2016년 1월부터 일괄 발송되지 않습니다.</li>
                                <li>우편 발급 신청은 지속적으로 가능하며, 요청시 익일 발송되어 도착까지 3~4일이 소요됩니다. (주말/공휴일 제외)</li>
                            </ul>
                            <div class="receipt_2">
                                <h3>
                                    후원본부(02-737-1004, 평일 09:00~18:00)로 연락주시면 <br>
                                    빠르게 도와드리겠습니다.
                                </h3>
                            </div>
                            <div class="receipt_3">
                                <strong>문의사항이 있으신가요?</strong>
                                <p>
                                    기부금 영수증 발급과 관련해 문의사항이 있으시다면 <br>
                                    유니세프 후원본부(전화 02-737-1004 / 평일 09:00~18:00, 이메일 donor@unicef.or.kr)로 연락주시기 바랍니다.
                                </p>
                            </div>
                        </li>
                        <li class="contact invisible">
                            <ul class="contact_1">
                                <li>FAQ에서 더 빠른 답변을 확인하실 수 있습니다.</li>
                                <li>답변을 확인할 수 없다면 문의하기를 이용해 직접 문의해주세요.</li>
                            </ul>
                            <p class="contact_2">
                                궁금한 것이 있나요?
                                <a href="#">FAQ에서 확인하기</a>
                            </p>
                            <ul class="contact_3">
                                <li><a href="#">
                                    <img src="/static/images/mypage/mypage_contact_1.png" alt="mypage_contact_1.png">
                                    <h3>
                                        제가 후원한 기부금은 <br>
                                        어떻게 어린이에게 전달되나요?
                                    </h3>
                                </a></li>
                                <li><a href="#">
                                    <img src="/static/images/mypage/mypage_contact_2.png" alt="mypage_contact_2.png">
                                    <h3>
                                        기부금 영수증 신청은 <br>
                                        어떻게 해야 하나요?
                                    </h3>
                                </a></li>
                                <li><a href="#">
                                    <img src="/static/images/mypage/mypage_contact_3.png" alt="mypage_contact_3.png">
                                    <h3>
                                        후원을 신청했는데<br>
                                        웹사이트에서 확인되지 않습니다.<br>
                                        어떻게 해야 하나요?
                                    </h3>
                                </a></li>
                                <li><a href="#">
                                    <img src="/static/images/mypage/mypage_contact_4.png" alt="mypage_contact_4.png">
                                    <h3>
                                        후원 정보를 변경하고 싶은데,<br>
                                        어떻게 해야 하나요?<br>
                                        (개인정보, 결제정보 등)
                                    </h3>
                                </a></li>
                                <li><a href="#">
                                    <img src="/static/images/mypage/mypage_contact_5.png" alt="mypage_contact_5.png">
                                    <h3>
                                        캠페인 참여 굿즈<br>
                                        (팀팔찌, 프로미스링)<br>
                                        배송은 언제쯤 될까요?
                                    </h3>
                                </a></li>
                                <li><a href="#">
                                    <img src="/static/images/mypage/mypage_contact_6.png" alt="mypage_contact_6.png">
                                    <h3>
                                        후원을 중단하고 싶은데,<br>
                                        어떻게 해야 하나요?
                                    </h3>
                                </a></li>
                            </ul>
                            <div class="contact_4">
                                <button class="sky-button button">문의하기</button>
                                <div>
                                    등록하신 문의가 없습니다.
                                </div>
                            </div>
                            <div class="contact_5">
                                <h3>빠른 답변을 원하시나요?</h3>
                                <p>
                                    빠른 답변을 원하시면 전화문의 바랍니다. 후원 중단 문의는 정확한 안내를 위해 전화로 접수 받고 있습니다.
                                </p>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>담당팀</th>
                                            <th>전화</th>
                                            <th>이메일</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>후원본부</td>
                                            <td>02-737-1004</td>
                                            <td><a href="#">donor@unicef.or.kr</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </li>
                    </ul>
                </div>
            </section>
<!-- footer -->
            <footer class="main-footer">
                <ul>
                    <li class="main-footer-left">
                        <ul>
                            <li><a href="#">이용약관</a></li>
                            <li><a href="#">개인정보 처리방침</a></li>
                            <li><a href="#">오시는 길</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">사이트맵</a></li>
                            <li>후원문의 02.737.1004</li>
                        </ul>
                        <div>
                            사단법인 유니세프한국위원회　대표자: 정갑영　고유번호: 102-82-07606[04099]　서울시 마포구 서강로 60(창전동)
                        </div>
                        <div>
                            COPYRIGHT @ THE KOREAN COMMITTEE FOR UNICEF. ALL RIGHT RESERVED
                        </div>
                    </li>
                    <li class="main-footer-right">
                        <ul>
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </footer>
        </main>
    </div>
    <script src="/static/js/mypage.js"></script>
    <script src="/static/js/header.js"></script>
</body>
</html>